00_IMPLEMENTATION/VENDOR_COMPARISON_COMPONENTS/workflows/Clarioo_TESTING_AI_Rank_Criterion_Results.json
{
  "name": "Clarioo AI Rank Criterion Results (Stage 2)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b2c4d8f1-3e5a-4f6b-8c9d-1a2b3c4d5e6f",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "http://localhost:8080"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "webhook-trigger-stage2",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1248,
        -32
      ],
      "webhookId": "b2c4d8f1-3e5a-4f6b-8c9d-1a2b3c4d5e6f",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const body = items[0].json.body || {};\n\nconst user_id = body.user_id;\nconst session_id = body.session_id;\nconst project_id = body.project_id;\nconst project_name = body.project_name || '';\nconst project_description = body.project_description || '';\nconst project_category = body.project_category || '';\nconst criterion = body.criterion;\nconst stage1_results = body.stage1_results;\nconst timestamp = body.timestamp;\n\n// Validation\nconst errors = [];\n\nif (!user_id || user_id.trim() === '') {\n  errors.push('user_id is required');\n}\n\nif (!session_id || session_id.trim() === '') {\n  errors.push('session_id is required');\n}\n\nif (!project_id || project_id.trim() === '') {\n  errors.push('project_id is required');\n}\n\nif (!project_name || project_name.trim() === '') {\n  errors.push('project_name is required');\n}\n\nif (project_description.trim().length < 10) {\n  errors.push('project_description must be at least 10 characters');\n}\n\nif (!project_category || project_category.trim() === '') {\n  errors.push('project_category is required');\n}\n\nif (!criterion || typeof criterion !== 'object') {\n  errors.push('criterion object is required');\n} else {\n  if (!criterion.id) errors.push('criterion.id is required');\n  if (!criterion.name) errors.push('criterion.name is required');\n  if (!criterion.importance) errors.push('criterion.importance is required');\n}\n\nif (!Array.isArray(stage1_results) || stage1_results.length === 0) {\n  errors.push('stage1_results must be a non-empty array');\n} else {\n  // Validate each stage1 result has required fields\n  stage1_results.forEach((result, index) => {\n    if (!result.vendor_id) errors.push(`stage1_results[${index}].vendor_id is required`);\n    if (!result.vendor_name) errors.push(`stage1_results[${index}].vendor_name is required`);\n    if (!result.evidence_strength) errors.push(`stage1_results[${index}].evidence_strength is required`);\n  });\n}\n\nif (!timestamp) {\n  errors.push('timestamp is required');\n}\n\nif (errors.length > 0) {\n  return [{\n    json: {\n      validation_error: true,\n      criterion_id: criterion?.id || 'unknown',\n      error_code: 'INVALID_INPUT',\n      error_message: errors.join(', ')\n    }\n  }];\n}\n\n// Pass through validated data\nreturn [{\n  json: {\n    validation_error: false,\n    user_id,\n    session_id,\n    project_id,\n    project_name: project_name.trim(),\n    project_description: project_description.trim(),\n    project_category: project_category.trim(),\n    criterion,\n    stage1_results,\n    timestamp\n  }\n}];"
      },
      "id": "input-validation-stage2",
      "name": "Input Validation",
      "type": "n8n-nodes-base.code",
      "position": [
        -1024,
        -32
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "validation-check",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.validation_error }}",
              "rightValue": true
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-validation-stage2",
      "name": "Check Validation",
      "type": "n8n-nodes-base.if",
      "position": [
        -800,
        -32
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: false,\n  criterion_id: $json.criterion_id,\n  error: {\n    code: $json.error_code,\n    message: $json.error_message\n  }\n} }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "http://localhost:8080"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "return-validation-error-stage2",
      "name": "Return Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -512,
        -176
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=RESEARCH TASK: Stage 2 - Comparative Ranking Analysis\n\nCRITERION BEING EVALUATED:\nName: {{ $json.criterion.name }}\nID: {{ $json.criterion.id }}\nImportance: {{ $json.criterion.importance }}\nDescription: {{ $json.criterion.description || 'N/A' }}\n\nPROJECT CONTEXT:\n{{ $json.project_description }}\n\nSTAGE 1 RESULTS (Individual Vendor Research):\n{{ JSON.stringify($json.stage1_results, null, 2) }}\n\nNumber of vendors: {{ $json.stage1_results.length }}\n\nRESEARCH PROCESS:\n\n1. REVIEW STAGE 1 EVIDENCE\n   Analyze the evidence collected for each vendor in Stage 1:\n   - \"confirmed\": Strong evidence of feature presence\n   - \"mentioned\": Feature mentioned with limited details\n   - \"unclear\": Contradictory or vague information\n   - \"not_found\": No evidence found\n   \n   Identify vendors with \"confirmed\" or \"mentioned\" evidence as candidates for further investigation.\n\n2. COMPARATIVE RESEARCH (up to 10 searches)\n   For vendors with positive evidence, conduct comparative research to identify which vendors have competitive advantages.\n   \n   Search strategies:\n   - \"[vendor A] vs [vendor B] {{ $json.criterion.name }}\"\n   - \"best [product category] for {{ $json.criterion.name }}\"\n   - \"{{ $json.criterion.name }} comparison [vendor A] [vendor B] [vendor C]\"\n   - \"[vendor A] {{ $json.criterion.name }} rated review reddit\"\n   - \"which is better for {{ $json.criterion.name }}: [vendor A] or [vendor B]\"\n   \n   Look for evidence of competitive advantages:\n   - Direct comparisons showing vendor superiority\n   - Awards or recognition for this specific criterion\n   - User testimonials preferring one vendor over others\n   - Expert reviews highlighting exceptional performance\n   - Benchmarks or metrics showing better results\n   \n   REQUIREMENTS FOR COMPETITIVE ADVANTAGE:\n   - Must use THIRD-PARTY sources only (G2, Capterra, Reddit, review sites)\n   - Must explicitly compare vendors or rank them\n   - Must demonstrate clear advantage, not just feature presence\n   - Must provide specific competitor names in the evidence\n\n3. STAR ALLOCATION (Maximum 2 stars per criterion)\n   Based on comparative research, award up to 2 stars to vendors showing exceptional performance.\n   \n   Star allocation rules:\n   - Award 0-2 stars total (NOT always exactly 2)\n   - Prioritize HIGH importance criterion if multiple vendors qualify\n   - Star evidence MUST be from third-party sources\n   - Star evidence MUST name specific competitors\n   - Comment MUST describe the competitive advantage\n   \n   Star comment format:\n   \"[Specific advantage] vs [Competitor names] per [Source type]\"\n   Example: \"Rated #1 for integrations vs Salesforce and HubSpot per G2 reviews\"\n\n4. UPDATE EVIDENCE (If better evidence found)\n   During comparative research, you may find better evidence than Stage 1 provided.\n   \n   If you find:\n   - More authoritative URLs\n   - More specific feature descriptions\n   - Better evidence from vendor site\n   \n   Update the evidence fields with the improved information.\n\n5. GENERATE CRITERION INSIGHT\n   Create a 2-3 sentence insight about this criterion across all vendors:\n   - Which vendors lead in this area and why\n   - Key differentiators between vendors\n   - Overall competitive landscape for this criterion\n   \n   This insight will be used for executive summary generation.\n\nSEARCH BUDGET: Maximum 10 Perplexity searches total\n\nIMPORTANT RESTRICTIONS:\n- Maximum 2 stars awarded (can be 0, 1, or 2)\n- Star evidence MUST be third-party URLs (not vendor domains)\n- Star comments MUST name specific competitors\n- Only award stars when there is clear competitive advantage\n- If no vendor shows clear advantage, award 0 stars\n\nOUTPUT STRUCTURE:\n{\n  \"criterion_id\": \"{{ $json.criterion.id }}\",\n  \"criterion_name\": \"{{ $json.criterion.name }}\",\n  \"criterion_importance\": \"{{ $json.criterion.importance }}\",\n  \"vendor_rankings\": [\n    {\n      \"vendor_id\": \"UUID\",\n      \"vendor_name\": \"Name\",\n      \"state\": \"yes|star|no|unknown\",\n      \"evidence_url\": \"Best URL (vendor site OK for yes, must be third-party for star)\",\n      \"evidence_description\": \"Description of what was found\",\n      \"comment\": \"For yes: brief confirmation. For star: [advantage] vs [competitor] per [source]\"\n    }\n  ],\n  \"criterion_insight\": \"2-3 sentence summary of competitive landscape for this criterion\",\n  \"stars_awarded\": 1,\n  \"search_count\": 7\n}\n\nSTATE MAPPING FROM STAGE 1:\n- If Stage 1 = \"confirmed\" → Candidate for \"yes\" or \"star\" (research for competitive advantage)\n- If Stage 1 = \"mentioned\" → Candidate for \"yes\" (less likely for star unless strong comparative evidence)\n- If Stage 1 = \"unclear\" → Research to determine \"yes\", \"no\", or \"unknown\"\n- If Stage 1 = \"not_found\" → Likely \"unknown\" or \"no\" (only promote if new evidence found)\n\nFINAL VALIDATION:\nBefore returning JSON, verify:\n□ criterion_id exactly matches input\n□ vendor_rankings includes all vendors from stage1_results\n□ Each vendor has state: yes|star|no|unknown\n□ stars_awarded is 0, 1, or 2\n□ All \"star\" states have third-party evidence_url\n□ All \"star\" comments name specific competitors\n□ search_count is between 1 and 10\n□ criterion_insight is provided\n\nReturn ONLY the JSON object.",
        "hasOutputParser": true,
        "options": {
          "timeout": 90000,
          "systemMessage": "=You are a comparative intelligence analyst responsible for ranking vendors based on Stage 1 research evidence.\n\nYour role is to:\n1. Review evidence collected in Stage 1 for each vendor\n2. Conduct targeted comparative research to identify competitive advantages\n3. Award up to 2 stars to vendors showing exceptional performance vs competitors\n4. Update evidence if you find better sources during comparative research\n5. Generate criterion-level insights for executive summary\n\nSTAR ALLOCATION REQUIREMENTS:\n- Maximum 2 stars per criterion (can award 0, 1, or 2)\n- Star evidence MUST be from third-party sources (G2, Capterra, Reddit, review sites)\n- Star evidence MUST demonstrate competitive advantage (not just feature presence)\n- Star comments MUST name specific competitors\n- Format: \"[advantage] vs [competitors] per [source]\"\n\nEVIDENCE QUALITY STANDARDS:\n- \"star\": Exceptional vs competitors, third-party evidence, competitor names in comment\n- \"yes\": Feature confirmed, vendor site evidence OK\n- \"unknown\": No clear evidence after research\n- \"no\": Evidence shows feature is absent or very limited\n\nSEARCH BUDGET: Maximum 10 Perplexity searches\n- Focus searches on comparative analysis\n- Look for head-to-head comparisons\n- Seek expert reviews and rankings\n- Find user preference data\n\nEVIDENCE UPDATES:\nIf you find better evidence than Stage 1 provided (more authoritative URL, better description), update the evidence fields with the improved information.\n\nOUTPUT: Valid JSON only, no markdown."
        }
      },
      "id": "ai-ranking-agent-stage2",
      "name": "AI Ranking Agent - Stage 2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -576,
        128
      ],
      "typeVersion": 2.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "maxTokens": 6000,
          "temperature": 0.2
        }
      },
      "id": "openai-model-stage2",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -656,
        384
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "jKn3GZ9W5ZRgXc2d",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"criterion_id\": { \n      \"type\": \"string\", \n      \"description\": \"Criterion UUID - must exactly match input\" \n    },\n    \"criterion_name\": { \n      \"type\": \"string\", \n      \"description\": \"Criterion name\" \n    },\n    \"criterion_importance\": { \n      \"type\": \"string\", \n      \"description\": \"Criterion importance level\" \n    },\n    \"vendor_rankings\": {\n      \"type\": \"array\",\n      \"description\": \"Ranked results for all vendors\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"vendor_id\": { \"type\": \"string\" },\n          \"vendor_name\": { \"type\": \"string\" },\n          \"state\": { \n            \"type\": \"string\",\n            \"enum\": [\"yes\", \"star\", \"no\", \"unknown\"]\n          },\n          \"evidence_url\": { \"type\": \"string\" },\n          \"evidence_description\": { \"type\": \"string\" },\n          \"comment\": { \"type\": \"string\" }\n        },\n        \"required\": [\"vendor_id\", \"vendor_name\", \"state\", \"evidence_url\", \"comment\"]\n      }\n    },\n    \"criterion_insight\": { \n      \"type\": \"string\", \n      \"description\": \"2-3 sentence competitive analysis summary\" \n    },\n    \"stars_awarded\": { \n      \"type\": \"number\", \n      \"description\": \"Total number of stars awarded (0-2)\" \n    },\n    \"search_count\": { \n      \"type\": \"number\", \n      \"description\": \"Number of searches used (1-10)\" \n    }\n  },\n  \"required\": [\"criterion_id\", \"criterion_name\", \"vendor_rankings\", \"criterion_insight\", \"stars_awarded\", \"search_count\"]\n}"
      },
      "id": "output-parser-stage2",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -368,
        384
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "jsCode": "try {\n  const aiOutput = items[0].json.output;\n\n  // Validate output structure\n  if (!aiOutput || !aiOutput.criterion_id || !Array.isArray(aiOutput.vendor_rankings)) {\n    throw new Error('Invalid AI response: missing criterion_id or vendor_rankings array');\n  }\n\n  // Validate stars_awarded\n  const starsAwarded = typeof aiOutput.stars_awarded === 'number' ? \n    Math.max(0, Math.min(2, aiOutput.stars_awarded)) : 0;\n\n  // Count actual stars in vendor_rankings\n  const actualStars = aiOutput.vendor_rankings.filter(v => v.state === 'star').length;\n  if (actualStars !== starsAwarded) {\n    console.log(`Warning: stars_awarded (${starsAwarded}) doesn't match actual star count (${actualStars})`);\n  }\n\n  // Validate that all star rankings have third-party evidence\n  aiOutput.vendor_rankings.forEach(vendor => {\n    if (vendor.state === 'star') {\n      // Check if evidence URL contains vendor domain (not allowed for stars)\n      const vendorDomain = vendor.vendor_name.toLowerCase().replace(/\\s+/g, '');\n      const evidenceUrl = (vendor.evidence_url || '').toLowerCase();\n      \n      if (evidenceUrl.includes(vendorDomain)) {\n        console.log(`Warning: ${vendor.vendor_name} has star but evidence URL appears to be from vendor site`);\n      }\n      \n      if (!vendor.evidence_url || vendor.evidence_url.trim() === '') {\n        console.log(`Warning: ${vendor.vendor_name} has star but no evidence URL`);\n      }\n      \n      // Check if comment mentions competitors\n      if (!vendor.comment || !vendor.comment.includes('vs')) {\n        console.log(`Warning: ${vendor.vendor_name} has star but comment doesn't mention competitors`);\n      }\n    }\n  });\n\n  // Ensure all required fields have defaults\n  const result = {\n    criterion_id: aiOutput.criterion_id,\n    criterion_name: aiOutput.criterion_name || '',\n    criterion_importance: aiOutput.criterion_importance || 'medium',\n    vendor_rankings: aiOutput.vendor_rankings.map(v => ({\n      vendor_id: v.vendor_id,\n      vendor_name: v.vendor_name,\n      state: v.state,\n      evidence_url: v.evidence_url || '',\n      evidence_description: v.evidence_description || '',\n      comment: v.comment || ''\n    })),\n    criterion_insight: aiOutput.criterion_insight || '',\n    stars_awarded: starsAwarded,\n    search_count: typeof aiOutput.search_count === 'number' ? \n      Math.max(1, Math.min(10, aiOutput.search_count)) : 1\n  };\n\n  return [{\n    json: {\n      success: true,\n      result: result,\n      timestamp: new Date().toISOString()\n    }\n  }];\n\n} catch (error) {\n  // Try to get criterion_id from the original input\n  let criterionId = 'unknown';\n  try {\n    criterionId = $('Input Validation').first().json.criterion?.id || 'unknown';\n  } catch (e) {\n    // Ignore\n  }\n  \n  return [{\n    json: {\n      success: false,\n      criterion_id: criterionId,\n      error: {\n        code: 'AI_PROCESSING_ERROR',\n        message: `Stage 2 ranking failed: ${error.message}`\n      }\n    }\n  }];\n}"
      },
      "id": "format-response-stage2",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "position": [
        -224,
        32
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "operator": {
                "type": "boolean",
                "operation": "false"
              },
              "leftValue": "={{ $json.success }}",
              "rightValue": false
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success-stage2",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "position": [
        -16,
        32
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "http://localhost:8080"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "return-success-stage2",
      "name": "Return Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        224,
        16
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "jsCode": "// Check if we already have a formatted error from Format Success Response\nif (items[0].json.error && items[0].json.error.code) {\n  return [{\n    json: {\n      success: false,\n      criterion_id: items[0].json.criterion_id || 'unknown',\n      error: items[0].json.error\n    }\n  }];\n}\n\n// Otherwise, handle raw errors from AI agent\nconst errorMessage = items[0].json.error?.message || items[0].json.message || 'An unexpected error occurred during Stage 2 ranking';\n\n// Try to get criterion_id from the original input\nlet criterionId = 'unknown';\ntry {\n  criterionId = $('Input Validation').first().json.criterion?.id || 'unknown';\n} catch (e) {\n  // Ignore\n}\n\nreturn [{\n  json: {\n    success: false,\n    criterion_id: criterionId,\n    error: {\n      code: 'INTERNAL_ERROR',\n      message: errorMessage\n    }\n  }\n}];"
      },
      "id": "handle-error-stage2",
      "name": "Handle Processing Error",
      "type": "n8n-nodes-base.code",
      "position": [
        224,
        256
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "http://localhost:8080"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "return-error-stage2",
      "name": "Return Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        448,
        256
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        -496,
        400
      ],
      "id": "perplexity-tool-stage2",
      "name": "Message a model in Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "r8zUmq6Bxb6qMTW3",
          "name": "Perplexity account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Input Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Validation": {
      "main": [
        [
          {
            "node": "Check Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation": {
      "main": [
        [
          {
            "node": "Return Validation Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Ranking Agent - Stage 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Ranking Agent - Stage 2": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Processing Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Ranking Agent - Stage 2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Ranking Agent - Stage 2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Handle Processing Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Processing Error": {
      "main": [
        [
          {
            "node": "Return Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "AI Ranking Agent - Stage 2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "stage2-v1-20250127",
  "meta": {
    "instanceId": "d8d0f3a1b5452865880018369d00dbc23f6a859a8ab8f3d9720659ce3799163c"
  },
  "tags": []
}
