00_IMPLEMENTATION/MIGRATING_TO_N8N/N8N_improvements/Clarioo TESTING AI Compare Vendor Criterion (Stage 1) (1).json
{
  "name": "Clarioo TESTING AI Compare Vendor Criterion (Stage 1)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a7f3e891-2d4b-4c5e-9a1f-8b3c6d7e9f2a",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "http://localhost:8080"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "242f8189-f370-4890-a62e-0ab22196fd8a",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1776,
        -240
      ],
      "webhookId": "a7f3e891-2d4b-4c5e-9a1f-8b3c6d7e9f2a",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const body = items[0].json.body || {};\n\nconst user_id = body.user_id;\nconst session_id = body.session_id;\nconst project_id = body.project_id;\nconst project_name = body.project_name || '';\nconst project_description = body.project_description || '';\nconst project_category = body.project_category || '';\nconst vendor = body.vendor;\nconst criterion = body.criterion;\nconst timestamp = body.timestamp;\n\n// Validation\nconst errors = [];\n\nif (!user_id || user_id.trim() === '') {\n  errors.push('user_id is required');\n}\n\nif (!session_id || session_id.trim() === '') {\n  errors.push('session_id is required');\n}\n\nif (!project_id || project_id.trim() === '') {\n  errors.push('project_id is required');\n}\n\nif (!project_name || project_name.trim() === '') {\n  errors.push('project_name is required');\n}\n\nif (project_description.trim().length < 10) {\n  errors.push('project_description must be at least 10 characters');\n}\n\nif (!project_category || project_category.trim() === '') {\n  errors.push('project_category is required');\n}\n\nif (!vendor || typeof vendor !== 'object') {\n  errors.push('vendor object is required');\n} else {\n  if (!vendor.id) errors.push('vendor.id is required');\n  if (!vendor.name) errors.push('vendor.name is required');\n  if (!vendor.website) errors.push('vendor.website is required');\n}\n\nif (!criterion || typeof criterion !== 'object') {\n  errors.push('criterion object is required');\n} else {\n  if (!criterion.id) errors.push('criterion.id is required');\n  if (!criterion.name) errors.push('criterion.name is required');\n  if (!criterion.importance) errors.push('criterion.importance is required');\n}\n\nif (!timestamp) {\n  errors.push('timestamp is required');\n}\n\nif (errors.length > 0) {\n  return [{\n    json: {\n      validation_error: true,\n      vendor_id: vendor?.id || 'unknown',\n      criterion_id: criterion?.id || 'unknown',\n      error_code: 'INVALID_INPUT',\n      error_message: errors.join(', ')\n    }\n  }];\n}\n\n// Pass through validated data\nreturn [{\n  json: {\n    validation_error: false,\n    user_id,\n    session_id,\n    project_id,\n    project_name: project_name.trim(),\n    project_description: project_description.trim(),\n    project_category: project_category.trim(),\n    vendor,\n    criterion,\n    timestamp\n  }\n}];"
      },
      "id": "291bc04e-59b7-40f3-b5a9-27aebc8d6337",
      "name": "Input Validation",
      "type": "n8n-nodes-base.code",
      "position": [
        -1552,
        -240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "validation-check",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.validation_error }}",
              "rightValue": true
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "04283b28-eeb6-4224-845f-ffd03e17efee",
      "name": "Check Validation",
      "type": "n8n-nodes-base.if",
      "position": [
        -1328,
        -240
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: false,\n  vendor_id: $json.vendor_id,\n  criterion_id: $json.criterion_id,\n  error: {\n    code: $json.error_code,\n    message: $json.error_message\n  }\n} }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "http://localhost:8080"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "7af60015-475e-4168-a539-bcb6d9bf0277",
      "name": "Return Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -1040,
        -384
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=RESEARCH TASK: Stage 1 - Individual Vendor-Criterion Research\n\nVENDOR TO EVALUATE:\nName: {{ $json.vendor.name }}\nID: {{ $json.vendor.id }}\nWebsite: {{ $json.vendor.website }}\n\nCRITERION TO EVALUATE:\nName: {{ $json.criterion.name }}\nID: {{ $json.criterion.id }}\nImportance: {{ $json.criterion.importance }}\nDescription: {{ $json.criterion.description || 'N/A' }}\n\nPROJECT CONTEXT:\n{{ $json.project_description }}\n\nRESEARCH PROCESS:\n\n1. VENDOR WEBSITE VERIFICATION (Primary source)\n   Search the vendor's official website and documentation to find evidence about this specific criterion.\n   \n   Search query: \"{{ $json.vendor.name }} {{ $json.criterion.name }} site:{{ $json.vendor.website.replace('https://', '').replace('http://', '').split('/')[0] }}\"\n   \n   Look for:\n   - Official feature pages\n   - Product documentation\n   - Technical specifications\n   - Case studies mentioning this feature\n   \n   Document findings:\n   - If feature is clearly mentioned: Record URL and give a quote\n   - If feature is not found: Note that no evidence was found on vendor site\n\n2. THIRD-PARTY VERIFICATION (up to 4 searches)\n   If vendor website provides limited information, search third-party sources:\n   \n   Search queries (use strategically based on what you find):\n   - \"{{ $json.vendor.name }} {{ $json.criterion.name }} review\"\n   - \"{{ $json.vendor.name }} {{ $json.criterion.name }} vs alternatives\"\n   - \"{{ $json.vendor.name }} {{ $json.criterion.name }} reddit\"\n   - \"{{ $json.vendor.name }} {{ $json.criterion.name }} comparison\"\n   \n   Sources to prioritize:\n   - G2, Capterra, TrustRadius (review platforms)\n   - Reddit, HackerNews (community discussions)\n   - Independent blogs and comparison sites\n   - Technical documentation sites\n   \n\n3. EVIDENCE CLASSIFICATION\n   Based on your research, classify the evidence strength:\n   \n   - \"yes\": Strong evidence from vendor site or multiple third-party sources showing feature is present\n   - \"unknown\": Contradictory information, vague references, or no clear information found\n   - \"no\": Found evidence that feature is NOT present or explicitly absent\n   \n   For \"yes\" classifications:\n   - Provide the BEST evidence URL (preferably vendor site, or most authoritative third-party)\n   - Include a brief quote\n\nSEARCH BUDGET: Maximum 2 searches total\n\nIMPORTANT RESTRICTIONS:\n- ONLY collect factual evidence about this one vendor-criterion combination\n- Do NOT assign \"star\" ratings - that happens in Stage 2\n\nOUTPUT STRUCTURE:\n{\n  \"vendor_id\": \"{{ $json.vendor.id }}\",\n  \"criterion_id\": \"{{ $json.criterion.id }}\",\n  \"evidence_strength\": \"yes|unknown|no\",\n  \"evidence_url\": \"Best URL supporting the finding (or empty string if no/unknown)\",\n  \"evidence_description\": \"Brief description of what was found (or 'No evidence found' if no/unknown)\",\n  \"vendor_site_evidence\": \"URL from vendor's site if found (or empty string)\",\n  \"third_party_evidence\": \"URL from third-party source if found (or empty string)\",\n  \"research_notes\": \"Relevant quote\",\n  \"search_count\": 2\n}\n\nFINAL VALIDATION:\nBefore returning JSON, verify:\n□ vendor_id and criterion_id exactly match input\n□ evidence_strength is one of: yes, unknown, no\n□ If evidence_strength is \"yes\", evidence_url must be provided\n□ search_count is between 1 and 5\n□ No stars included (stars are assigned in Stage 2 only)\n\nReturn ONLY the JSON object.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a focused research analyst collecting evidence about a specific vendor's capability in one criterion area. You are always using Search in Tavily Tool.\n\nYour role is to:\n1. Search the vendor's website first for official information\n2. Supplement with third-party sources if needed\n3. Classify the strength of evidence found\n4. Provide the best supporting URLs\n\nEVIDENCE STRENGTH GUIDELINES:\n- \"yes\": Clear, specific evidence from vendor site OR multiple reputable third-party sources showing feature is present\n- \"unknown\": Contradictory information OR vague/ambiguous references OR not found any references\n- \"no\": Evidence present that the feature doesn't exist or is explicitly absent\n\nIMPORTANT:\n- Do NOT assign \"star\" ratings in Stage 1 - stars are assigned in Stage 2 based on comparative analysis\n- Only use: yes, unknown, no\n\nSEARCH BUDGET: Maximum 2 searches\n- Start with vendor site\n- Use third-party searches strategically\n- Stop early if you find clear evidence\n\nOUTPUT: Valid JSON only, no markdown."
        }
      },
      "id": "9465dfdc-d558-428a-8635-abe19653c5f1",
      "name": "AI Research Agent - Stage 1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1104,
        -80
      ],
      "typeVersion": 2.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "maxTokens": 4000,
          "temperature": 0.2
        }
      },
      "id": "72369653-9efc-487f-9685-e759ee82e97d",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1184,
        176
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "jKn3GZ9W5ZRgXc2d",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"vendor_id\": { \n      \"type\": \"string\", \n      \"description\": \"Vendor UUID - must exactly match input vendor.id\" \n    },\n    \"criterion_id\": { \n      \"type\": \"string\", \n      \"description\": \"Criterion UUID - must exactly match input criterion.id\" \n    },\n    \"evidence_strength\": { \n      \"type\": \"string\", \n      \"enum\": [\"yes\", \"unknown\", \"no\"],\n      \"description\": \"Classification of evidence strength (yes = feature present, unknown = unclear/not found, no = explicitly absent)\" \n    },\n    \"evidence_url\": { \n      \"type\": \"string\", \n      \"description\": \"Best URL supporting the finding (empty if no/unknown)\" \n    },\n    \"evidence_description\": { \n      \"type\": \"string\", \n      \"description\": \"Brief description of what was found\" \n    },\n    \"vendor_site_evidence\": { \n      \"type\": \"string\", \n      \"description\": \"URL from vendor's official site (empty if none)\" \n    },\n    \"third_party_evidence\": { \n      \"type\": \"string\", \n      \"description\": \"URL from third-party source (empty if none)\" \n    },\n    \"research_notes\": { \n      \"type\": \"string\", \n      \"description\": \"Summary of search process and findings\" \n    },\n    \"search_count\": { \n      \"type\": \"number\", \n      \"description\": \"Number of Perplexity searches used (1-5)\" \n    }\n  },\n  \"required\": [\"vendor_id\", \"criterion_id\", \"evidence_strength\", \"evidence_url\", \"evidence_description\", \"search_count\"]\n}"
      },
      "id": "d5976eb4-b245-4789-b36a-0dcac428ec10",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -896,
        176
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "jsCode": "try {\n  const aiOutput = items[0].json.output;\n\n  // Validate output structure\n  if (!aiOutput || !aiOutput.vendor_id || !aiOutput.criterion_id) {\n    throw new Error('Invalid AI response: missing vendor_id or criterion_id');\n  }\n\n  // Validate evidence_strength\n  const validStrengths = ['yes', 'unknown', 'no'];\n  if (!validStrengths.includes(aiOutput.evidence_strength)) {\n    throw new Error(`Invalid evidence_strength: ${aiOutput.evidence_strength}. Must be one of: yes, unknown, no`);\n  }\n\n  // Validate that 'yes' has evidence URLs\n  if (aiOutput.evidence_strength === 'yes' && \n      (!aiOutput.evidence_url || aiOutput.evidence_url.trim() === '')) {\n    console.log(`Warning: 'yes' classification but no evidence URL provided`);\n  }\n\n  // Ensure all required fields have defaults\n  const result = {\n    vendor_id: aiOutput.vendor_id,\n    criterion_id: aiOutput.criterion_id,\n    evidence_strength: aiOutput.evidence_strength,\n    evidence_url: aiOutput.evidence_url || '',\n    evidence_description: aiOutput.evidence_description || '',\n    vendor_site_evidence: aiOutput.vendor_site_evidence || '',\n    third_party_evidence: aiOutput.third_party_evidence || '',\n    research_notes: aiOutput.research_notes || '',\n    search_count: typeof aiOutput.search_count === 'number' ? \n      Math.max(1, Math.min(5, aiOutput.search_count)) : 1\n  };\n\n  return [{\n    json: {\n      success: true,\n      result: result,\n      timestamp: new Date().toISOString()\n    }\n  }];\n\n} catch (error) {\n  // Try to get vendor_id and criterion_id from the original input\n  let vendorId = 'unknown';\n  let criterionId = 'unknown';\n  try {\n    const inputData = $('Input Validation').first().json;\n    vendorId = inputData.vendor?.id || 'unknown';\n    criterionId = inputData.criterion?.id || 'unknown';\n  } catch (e) {\n    // Ignore\n  }\n  \n  return [{\n    json: {\n      success: false,\n      vendor_id: vendorId,\n      criterion_id: criterionId,\n      error: {\n        code: 'AI_PROCESSING_ERROR',\n        message: `Stage 1 research failed: ${error.message}`\n      }\n    }\n  }];\n}"
      },
      "id": "cabca02a-7b13-45e7-8eea-4c0168886a89",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "position": [
        -752,
        -176
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "operator": {
                "type": "boolean",
                "operation": "false"
              },
              "leftValue": "={{ $json.success }}",
              "rightValue": false
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d8f49ad2-fa1c-4a71-9334-211293ba6d8e",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "position": [
        -544,
        -176
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "http://localhost:8080"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "4acb4e39-3345-49c0-b2b2-38ece3fdc2ce",
      "name": "Return Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -304,
        -192
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "jsCode": "// Check if we already have a formatted error from Format Success Response\nif (items[0].json.error && items[0].json.error.code) {\n  return [{\n    json: {\n      success: false,\n      vendor_id: items[0].json.vendor_id || 'unknown',\n      criterion_id: items[0].json.criterion_id || 'unknown',\n      error: items[0].json.error\n    }\n  }];\n}\n\n// Otherwise, handle raw errors from AI agent\nconst errorMessage = items[0].json.error?.message || items[0].json.message || 'An unexpected error occurred during Stage 1 research';\n\n// Try to get vendor_id and criterion_id from the original input\nlet vendorId = 'unknown';\nlet criterionId = 'unknown';\ntry {\n  const inputData = $('Input Validation').first().json;\n  vendorId = inputData.vendor?.id || 'unknown';\n  criterionId = inputData.criterion?.id || 'unknown';\n} catch (e) {\n  // Ignore\n}\n\nreturn [{\n  json: {\n    success: false,\n    vendor_id: vendorId,\n    criterion_id: criterionId,\n    error: {\n      code: 'INTERNAL_ERROR',\n      message: errorMessage\n    }\n  }\n}];"
      },
      "id": "1f980be3-9102-480a-91b2-4f1517a38a4d",
      "name": "Handle Processing Error",
      "type": "n8n-nodes-base.code",
      "position": [
        -304,
        48
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "http://localhost:8080"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "0b0d3b1e-8904-4a2f-82e4-5330a0b355a6",
      "name": "Return Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -80,
        48
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        -1408,
        144
      ],
      "id": "703e004b-74e4-47b8-b3eb-d5a4c68107a0",
      "name": "Message a model in Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "r8zUmq6Bxb6qMTW3",
          "name": "Perplexity account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        -1008,
        192
      ],
      "id": "0ef316fb-ba83-4f84-a179-eddabdabab69",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "2iqVjPp3bKd5myEO",
          "name": "Tavily Serj"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSearXng",
      "typeVersion": 1,
      "position": [
        -1184,
        368
      ],
      "id": "962ece4b-a558-4210-ac99-9fe97fce2967",
      "name": "SearXNG",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Input Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Validation": {
      "main": [
        [
          {
            "node": "Check Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation": {
      "main": [
        [
          {
            "node": "Return Validation Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Research Agent - Stage 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Research Agent - Stage 1": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Processing Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Research Agent - Stage 1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Research Agent - Stage 1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Handle Processing Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Processing Error": {
      "main": [
        [
          {
            "node": "Return Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "AI Research Agent - Stage 1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Research Agent - Stage 1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SearXNG": {
      "ai_tool": [
        [
          {
            "node": "AI Research Agent - Stage 1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "versionId": "345c89c0-1a00-4440-9390-e0ac6eb279f5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d8d0f3a1b5452865880018369d00dbc23f6a859a8ab8f3d9720659ce3799163c"
  },
  "id": "4kUvZvXDSYKKZg3g",
  "tags": [
    {
      "updatedAt": "2025-11-27T12:10:42.897Z",
      "createdAt": "2025-11-27T12:10:42.897Z",
      "id": "CNCk209MxjZDqFXR",
      "name": "Testing"
    }
  ]
}