00_IMPLEMENTATION/MIGRATING_TO_N8N/N8N_improvements/Clarioo TESTING AI Rank Criterion Results (Stage 2) (1).json
{
  "name": "Clarioo TESTING AI Rank Criterion Results (Stage 2)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b2c4d8f1-3e5a-4f6b-8c9d-1a2b3c4d5e6f",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "http://localhost:8080"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "15784eb6-7a7d-4aa7-a16a-f491d78b0e4f",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1776,
        -240
      ],
      "webhookId": "b2c4d8f1-3e5a-4f6b-8c9d-1a2b3c4d5e6f",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const body = items[0].json.body || {};\n\nconst user_id = body.user_id;\nconst session_id = body.session_id;\nconst project_id = body.project_id;\nconst project_name = body.project_name || '';\nconst project_description = body.project_description || '';\nconst project_category = body.project_category || '';\nconst criterion = body.criterion;\nconst stage1_results = body.stage1_results;\nconst timestamp = body.timestamp;\n\n// Validation\nconst errors = [];\n\nif (!user_id || user_id.trim() === '') {\n  errors.push('user_id is required');\n}\n\nif (!session_id || session_id.trim() === '') {\n  errors.push('session_id is required');\n}\n\nif (!project_id || project_id.trim() === '') {\n  errors.push('project_id is required');\n}\n\nif (!project_name || project_name.trim() === '') {\n  errors.push('project_name is required');\n}\n\nif (project_description.trim().length < 10) {\n  errors.push('project_description must be at least 10 characters');\n}\n\nif (!project_category || project_category.trim() === '') {\n  errors.push('project_category is required');\n}\n\nif (!criterion || typeof criterion !== 'object') {\n  errors.push('criterion object is required');\n} else {\n  if (!criterion.id) errors.push('criterion.id is required');\n  if (!criterion.name) errors.push('criterion.name is required');\n  if (!criterion.importance) errors.push('criterion.importance is required');\n}\n\nif (!Array.isArray(stage1_results) || stage1_results.length === 0) {\n  errors.push('stage1_results must be a non-empty array');\n} else {\n  // Validate each stage1 result has required fields\n  stage1_results.forEach((result, index) => {\n    if (!result.vendor_id) errors.push(`stage1_results[${index}].vendor_id is required`);\n    if (!result.vendor_name) errors.push(`stage1_results[${index}].vendor_name is required`);\n    if (!result.evidence_strength) errors.push(`stage1_results[${index}].evidence_strength is required`);\n  });\n}\n\nif (!timestamp) {\n  errors.push('timestamp is required');\n}\n\nif (errors.length > 0) {\n  return [{\n    json: {\n      validation_error: true,\n      criterion_id: criterion?.id || 'unknown',\n      error_code: 'INVALID_INPUT',\n      error_message: errors.join(', ')\n    }\n  }];\n}\n\n// Pass through validated data\nreturn [{\n  json: {\n    validation_error: false,\n    user_id,\n    session_id,\n    project_id,\n    project_name: project_name.trim(),\n    project_description: project_description.trim(),\n    project_category: project_category.trim(),\n    criterion,\n    stage1_results,\n    timestamp\n  }\n}];"
      },
      "id": "f66f5338-157f-4525-bcdc-e61869f0d278",
      "name": "Input Validation",
      "type": "n8n-nodes-base.code",
      "position": [
        -1552,
        -240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "validation-check",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.validation_error }}",
              "rightValue": true
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5577abd5-cfe1-42fd-9fb5-c466d4d83c01",
      "name": "Check Validation",
      "type": "n8n-nodes-base.if",
      "position": [
        -1328,
        -240
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: false,\n  criterion_id: $json.criterion_id,\n  error: {\n    code: $json.error_code,\n    message: $json.error_message\n  }\n} }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "http://localhost:8080"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "59187741-a0cf-4744-b55d-1ffc92666e41",
      "name": "Return Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -1040,
        -384
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=RESEARCH TASK: Stage 2 - Comparative Ranking & Evidence Verification\n\nCRITERION BEING EVALUATED:\nName: {{ $json.criterion.name }}\nID: {{ $json.criterion.id }}\nImportance: {{ $json.criterion.importance }}\nDescription: {{ $json.criterion.description || 'N/A' }}\n\nPROJECT CONTEXT:\n{{ $json.project_description }}\n\nSTAGE 1 RESULTS (Individual Vendor Research):\n{{ JSON.stringify($json.stage1_results, null, 2) }}\n\nNumber of vendors: {{ $json.stage1_results.length }}\n\nCORE PRINCIPLES:\n1. Stage 1 determined if features exist/don't exist\n2. Stage 2's job is to COMPARE and VERIFY, not re-evaluate existence\n3. NEVER downgrade \"yes\" to \"no\" based on lack of competitive advantage\n4. Stars are ONLY for competitive advantages with 3rd party evidence\n\nSTAGE 2 RESPONSIBILITIES:\n\n1. COMPARATIVE RANKING (for vendors with \"yes\")\n   - Compare vendors that have Stage 1 \"yes\" status\n   - Identify competitive advantages using 3rd party sources\n   - Award up to 2 stars total across all vendors\n\n2. EVIDENCE VERIFICATION (for vendors with \"no\")\n   - Review the Stage 1 evidence link\n   - Verify if feature is clearly stated as absent\n   - If NOT clearly absent \u2192 Change \"no\" to \"unknown\"\n   - If clearly absent \u2192 Keep \"no\"\n\n3. PRESERVE \"unknown\" STATUS\n   - Do not re-research vendors marked \"unknown\" in Stage 1\n   - Keep status as \"unknown\"\n\nSTATE TRANSITION RULES (CRITICAL):\n\nFROM STAGE 1 \"yes\":\n\u251c\u2500 Competitive advantage found (3rd party evidence) \u2192 state = \"star\"\n\u2502  \u2514\u2500 REPLACE evidence_url with 3rd party URL (G2, Reddit, Capterra)\n\u2514\u2500 No competitive advantage found \u2192 state = \"yes\" (KEEP AS-IS)\n   \u2514\u2500 DO NOT downgrade to \"no\"\n   \u2514\u2500 Comment: Keep Stage 1 comment or add brief note\n\nFROM STAGE 1 \"no\":\n\u251c\u2500 Review Stage 1 evidence_url\n\u251c\u2500 Link clearly states feature absent \u2192 state = \"no\" (keep)\n\u2514\u2500 Link does NOT clearly state absent \u2192 state = \"unknown\" (upgrade)\n\nFROM STAGE 1 \"unknown\":\n\u2514\u2500 state = \"unknown\" (keep as-is, do not research)\n\nSEARCH BUDGET LOGIC:\n\nCount Stage 1 \"yes\" results:\n- 0 vendors with \"yes\" \u2192 search_count = 0 (only verify \"no\" evidence)\n- 1 vendor with \"yes\" \u2192 search_count = 0 (no comparison possible)\n- 2+ vendors with \"yes\" \u2192 search_count = 1-10 (comparative analysis)\n\nCOMPARATIVE RESEARCH (only if 2+ vendors have \"yes\"):\n\nSearch strategies for finding competitive advantages:\n- \"[vendor A] vs [vendor B] {{ $json.criterion.name }}\"\n- \"best [category] for {{ $json.criterion.name }}\"\n- \"{{ $json.criterion.name }} comparison [vendor A] [vendor B]\"\n- \"[vendor A] {{ $json.criterion.name }} rated review reddit\"\n- \"G2 comparison [vendor A] vs [vendor B] {{ $json.criterion.name }}\"\n\nLook for evidence of competitive advantages:\n- Direct comparisons showing vendor superiority\n- Awards or recognition for this specific criterion\n- User testimonials preferring one vendor over others\n- Expert reviews highlighting exceptional performance\n- Benchmarks or metrics showing better results\n\nREQUIREMENTS FOR COMPETITIVE ADVANTAGE:\n\u2713 Must use THIRD-PARTY sources only (G2, Capterra, Reddit, TrustRadius, review sites)\n\u2713 Must explicitly compare vendors or rank them\n\u2713 Must demonstrate clear advantage, not just feature presence\n\u2713 Must provide specific competitor names in the evidence\n\u2717 NEVER use vendor website URLs for star evidence\n\nSTAR ALLOCATION (Maximum 2 stars per criterion):\n\nRules for awarding stars:\n- Award 0-2 stars total (NOT always exactly 2)\n- Only award if clear competitive advantage exists\n- Star evidence MUST be from 3rd party sources\n- Star evidence MUST name specific competitors\n- When assigning star, REPLACE evidence_url with 3rd party URL\n- Comment format: \"[Specific advantage] vs [Competitor names] per [Source type]\"\n\nExample star comments:\n\u2713 \"Rated #1 for integrations vs Salesforce and HubSpot per G2 reviews\"\n\u2713 \"Superior automation capabilities vs Zoho and Dynamics per Reddit consensus\"\n\u2717 \"No competitive advantage found\" \u2190 WRONG, keep as \"yes\" instead\n\nEVIDENCE VERIFICATION FOR \"no\" STATUS:\n\nFor each vendor with Stage 1 \"no\":\n1. Read the evidence_url provided by Stage 1\n2. Check if the link clearly states the feature is absent\n3. Clearly absent = explicit statement like:\n   - \"This feature is not available\"\n   - \"Does not support [feature]\"\n   - Pricing page with no mention of feature\n4. NOT clearly absent = vague, contradictory, or no clear statement\n5. Update state accordingly:\n   - Clearly absent \u2192 Keep \"no\"\n   - Not clearly absent \u2192 Change to \"unknown\"\n\nEVIDENCE REUSE FROM STAGE 1:\n\nFor vendors with \"yes\" that don't get stars:\n- REUSE: evidence_url, evidence_description from Stage 1\n- REUSE: vendor_site_evidence, third_party_evidence, research_notes\n- KEEP: All Stage 1 fields unchanged\n- Only UPDATE if you found better comparative evidence\n\nCRITERION INSIGHT:\n\nCreate a 2-3 sentence insight about this criterion across all vendors:\n- Which vendors lead in this area and why\n- Key differentiators between vendors (if stars awarded)\n- Overall competitive landscape for this criterion\n- If no stars: \"All vendors offer this feature with similar capabilities\"\n\nOUTPUT STRUCTURE:\n{\n  \"criterion_id\": \"{{ $json.criterion.id }}\",\n  \"criterion_name\": \"{{ $json.criterion.name }}\",\n  \"criterion_importance\": \"{{ $json.criterion.importance }}\",\n  \"vendor_rankings\": [\n    {\n      \"vendor_id\": \"UUID\",\n      \"vendor_name\": \"Name\",\n      \"state\": \"yes|star|no|unknown\",\n      \"evidence_url\": \"3rd party URL for stars, Stage 1 URL otherwise\",\n      \"evidence_description\": \"Description (Stage 1 or updated)\",\n      \"comment\": \"For yes: Stage 1 comment. For star: [advantage] vs [competitor] per [source]. For no\u2192unknown: 'Evidence unclear, requires verification'\"\n    }\n  ],\n  \"criterion_insight\": \"2-3 sentence summary of competitive landscape\",\n  \"stars_awarded\": 0-2,\n  \"search_count\": 0-10\n}\n\nFINAL VALIDATION CHECKLIST:\n\nBefore returning JSON, verify:\n\u2610 No \"yes\" status downgraded to \"no\" (only \"yes\" or \"star\")\n\u2610 All \"no\" statuses verified (kept as \"no\" or upgraded to \"unknown\")\n\u2610 All \"unknown\" statuses preserved (not changed)\n\u2610 All \"star\" states have 3rd party evidence_url (NOT vendor.com domains)\n\u2610 All \"star\" evidence_url REPLACED with 3rd party source\n\u2610 All \"star\" comments name specific competitors\n\u2610 stars_awarded is 0, 1, or 2\n\u2610 search_count is 0-10 (0 if no comparative research needed)\n\u2610 criterion_insight provided\n\u2610 Each vendor has exactly one of: yes|star|no|unknown\n\nEXAMPLES:\n\nExample 1 - Competitive Advantage Found:\nStage 1: vendor_id=\"abc\", evidence_strength=\"yes\", evidence_url=\"https://vendor.com/features\"\nStage 2 finds: G2 comparison shows vendor is #1 vs competitors\nOutput: {\n  \"vendor_id\": \"abc\",\n  \"state\": \"star\",\n  \"evidence_url\": \"https://g2.com/compare/vendor-vs-competitor\", \u2190 REPLACED\n  \"comment\": \"Rated #1 for automation vs Salesforce and Zoho per G2 reviews\"\n}\n\nExample 2 - No Competitive Advantage:\nStage 1: vendor_id=\"def\", evidence_strength=\"yes\", evidence_url=\"https://vendor.com/docs\"\nStage 2 finds: No standout advantage vs competitors\nOutput: {\n  \"vendor_id\": \"def\",\n  \"state\": \"yes\", \u2190 KEPT AS YES, NOT DOWNGRADED\n  \"evidence_url\": \"https://vendor.com/docs\", \u2190 KEPT FROM STAGE 1\n  \"comment\": \"Feature available, no standout advantage identified\"\n}\n\nExample 3 - Evidence Verification (no \u2192 unknown):\nStage 1: vendor_id=\"ghi\", evidence_strength=\"no\", evidence_url=\"https://vendor.com/pricing\"\nStage 2 review: Pricing page doesn't clearly state feature is absent\nOutput: {\n  \"vendor_id\": \"ghi\",\n  \"state\": \"unknown\", \u2190 UPGRADED FROM NO\n  \"evidence_url\": \"https://vendor.com/pricing\",\n  \"comment\": \"Evidence unclear, feature absence not explicitly stated\"\n}\n\nExample 4 - Evidence Verification (no \u2192 no):\nStage 1: vendor_id=\"jkl\", evidence_strength=\"no\", evidence_url=\"https://vendor.com/faq\"\nStage 2 review: FAQ explicitly states \"This feature is not available\"\nOutput: {\n  \"vendor_id\": \"jkl\",\n  \"state\": \"no\", \u2190 KEPT AS NO\n  \"evidence_url\": \"https://vendor.com/faq\",\n  \"comment\": \"Feature explicitly stated as not available\"\n}\n\nReturn ONLY the JSON object.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a comparative intelligence analyst responsible for ranking vendors and verifying evidence quality.\n\nYour role is to:\n1. COMPARE vendors with Stage 1 \"yes\" to identify competitive advantages\n2. VERIFY evidence for vendors with Stage 1 \"no\" to check if truly absent\n3. PRESERVE Stage 1 decisions - DO NOT re-evaluate feature existence\n4. Award up to 2 stars with 3rd party evidence only\n5. Generate criterion-level insights\n\nCRITICAL STATE TRANSITION RULES:\n\nStage 1 \"yes\":\n- Competitive advantage found \u2192 \"star\" (with 3rd party evidence URL)\n- No competitive advantage \u2192 \"yes\" (NEVER downgrade to \"no\")\n\nStage 1 \"no\":\n- Evidence clearly states absent \u2192 \"no\" (keep)\n- Evidence does NOT clearly state absent \u2192 \"unknown\" (upgrade)\n\nStage 1 \"unknown\":\n- Always keep as \"unknown\" (do not research)\n\nSEARCH EFFICIENCY:\n- 0 vendors with \"yes\" \u2192 search_count = 0 (only verify \"no\" evidence)\n- 1 vendor with \"yes\" \u2192 search_count = 0 (no comparison possible)\n- 2+ vendors with \"yes\" \u2192 search_count = 1-10 (comparative analysis)\n\nSTAR ALLOCATION REQUIREMENTS:\n- Maximum 2 stars per criterion (can award 0, 1, or 2)\n- Star evidence MUST be 3rd party (G2, Capterra, Reddit, TrustRadius)\n- When assigning star, REPLACE evidence_url with 3rd party source\n- NEVER use vendor.com domains for star evidence\n- Star comments MUST name specific competitors\n- Format: \"[advantage] vs [competitors] per [source]\"\n\nEVIDENCE VERIFICATION FOR \"no\" STATUS:\n- Review Stage 1 evidence_url\n- \"Clearly absent\" = explicit statement of unavailability\n- \"Not clearly absent\" = vague, contradictory, or missing information\n- Upgrade \"no\" to \"unknown\" if evidence is unclear\n\nEVIDENCE REUSE PRIORITY:\n- \"yes\" without star \u2192 REUSE all Stage 1 evidence fields\n- \"star\" \u2192 REPLACE evidence_url with 3rd party comparative source\n- \"no\" \u2192 Keep or upgrade to \"unknown\" based on evidence review\n- \"unknown\" \u2192 Keep as-is\n\nQUALITY STANDARDS:\n- \"star\": Exceptional vs competitors, 3rd party comparative evidence, competitor names in comment\n- \"yes\": Feature confirmed, no standout advantage (DO NOT downgrade)\n- \"unknown\": Unclear evidence or no clear information\n- \"no\": Evidence explicitly states feature is absent\n\nPROHIBITED ACTIONS:\n\u2717 Downgrading \"yes\" to \"no\" based on lack of competitive advantage\n\u2717 Using vendor website URLs as star evidence\n\u2717 Re-researching \"unknown\" status vendors\n\u2717 Changing \"unknown\" to \"yes\" or \"no\"\n\nOUTPUT: Valid JSON only, no markdown."
        }
      },
      "id": "f902d508-845c-44bd-a16c-539758dcf847",
      "name": "AI Ranking Agent - Stage 2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1104,
        -80
      ],
      "typeVersion": 2.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "maxTokens": 6000,
          "temperature": 0.2
        }
      },
      "id": "dfa89221-858f-43de-9dfb-edbda2d15b42",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1184,
        176
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "jKn3GZ9W5ZRgXc2d",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"criterion_id\": { \n      \"type\": \"string\", \n      \"description\": \"Criterion UUID - must exactly match input\" \n    },\n    \"criterion_name\": { \n      \"type\": \"string\", \n      \"description\": \"Criterion name\" \n    },\n    \"criterion_importance\": { \n      \"type\": \"string\", \n      \"description\": \"Criterion importance level\" \n    },\n    \"vendor_rankings\": {\n      \"type\": \"array\",\n      \"description\": \"Ranked results for all vendors\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"vendor_id\": { \"type\": \"string\" },\n          \"vendor_name\": { \"type\": \"string\" },\n          \"state\": { \n            \"type\": \"string\",\n            \"enum\": [\"yes\", \"star\", \"no\", \"unknown\"]\n          },\n          \"evidence_url\": { \"type\": \"string\" },\n          \"evidence_description\": { \"type\": \"string\" },\n          \"comment\": { \"type\": \"string\" }\n        },\n        \"required\": [\"vendor_id\", \"vendor_name\", \"state\", \"evidence_url\", \"comment\"]\n      }\n    },\n    \"criterion_insight\": { \n      \"type\": \"string\", \n      \"description\": \"2-3 sentence competitive analysis summary\" \n    },\n    \"stars_awarded\": { \n      \"type\": \"number\", \n      \"description\": \"Total number of stars awarded (0-2)\" \n    },\n    \"search_count\": { \n      \"type\": \"number\", \n      \"description\": \"Number of searches used (1-10)\" \n    }\n  },\n  \"required\": [\"criterion_id\", \"criterion_name\", \"vendor_rankings\", \"criterion_insight\", \"stars_awarded\", \"search_count\"]\n}"
      },
      "id": "864dc866-7aa0-4e42-8ccb-738f7ecc59c7",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -896,
        176
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "jsCode": "try {\n  const aiOutput = items[0].json.output;\n\n  // Validate output structure\n  if (!aiOutput || !aiOutput.criterion_id || !Array.isArray(aiOutput.vendor_rankings)) {\n    throw new Error('Invalid AI response: missing criterion_id or vendor_rankings array');\n  }\n\n  // Validate stars_awarded\n  const starsAwarded = typeof aiOutput.stars_awarded === 'number' ? \n    Math.max(0, Math.min(2, aiOutput.stars_awarded)) : 0;\n\n  // Count actual stars in vendor_rankings\n  const actualStars = aiOutput.vendor_rankings.filter(v => v.state === 'star').length;\n  if (actualStars !== starsAwarded) {\n    console.log(`Warning: stars_awarded (${starsAwarded}) doesn't match actual star count (${actualStars})`);\n  }\n\n  // Validate that all star rankings have third-party evidence\n  aiOutput.vendor_rankings.forEach(vendor => {\n    if (vendor.state === 'star') {\n      // Check if evidence URL contains vendor domain (not allowed for stars)\n      const vendorDomain = vendor.vendor_name.toLowerCase().replace(/\\s+/g, '');\n      const evidenceUrl = (vendor.evidence_url || '').toLowerCase();\n      \n      if (evidenceUrl.includes(vendorDomain)) {\n        console.log(`Warning: ${vendor.vendor_name} has star but evidence URL appears to be from vendor site`);\n      }\n      \n      if (!vendor.evidence_url || vendor.evidence_url.trim() === '') {\n        console.log(`Warning: ${vendor.vendor_name} has star but no evidence URL`);\n      }\n      \n      // Check if comment mentions competitors\n      if (!vendor.comment || !vendor.comment.includes('vs')) {\n        console.log(`Warning: ${vendor.vendor_name} has star but comment doesn't mention competitors`);\n      }\n    }\n  });\n\n  // Ensure all required fields have defaults\n  const result = {\n    criterion_id: aiOutput.criterion_id,\n    criterion_name: aiOutput.criterion_name || '',\n    criterion_importance: aiOutput.criterion_importance || 'medium',\n    vendor_rankings: aiOutput.vendor_rankings.map(v => ({\n      vendor_id: v.vendor_id,\n      vendor_name: v.vendor_name,\n      state: v.state,\n      evidence_url: v.evidence_url || '',\n      evidence_description: v.evidence_description || '',\n      comment: v.comment || ''\n    })),\n    criterion_insight: aiOutput.criterion_insight || '',\n    stars_awarded: starsAwarded,\n    search_count: typeof aiOutput.search_count === 'number' ? \n      Math.max(1, Math.min(10, aiOutput.search_count)) : 1\n  };\n\n  return [{\n    json: {\n      success: true,\n      result: result,\n      timestamp: new Date().toISOString()\n    }\n  }];\n\n} catch (error) {\n  // Try to get criterion_id from the original input\n  let criterionId = 'unknown';\n  try {\n    criterionId = $('Input Validation').first().json.criterion?.id || 'unknown';\n  } catch (e) {\n    // Ignore\n  }\n  \n  return [{\n    json: {\n      success: false,\n      criterion_id: criterionId,\n      error: {\n        code: 'AI_PROCESSING_ERROR',\n        message: `Stage 2 ranking failed: ${error.message}`\n      }\n    }\n  }];\n}"
      },
      "id": "ace3fdf1-202c-44de-96b9-31ef8778fcdc",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "position": [
        -752,
        -176
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "operator": {
                "type": "boolean",
                "operation": "false"
              },
              "leftValue": "={{ $json.success }}",
              "rightValue": false
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d2d1e8b5-0bd5-467b-aa3e-26158c7f0315",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "position": [
        -544,
        -176
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "http://localhost:8080"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "e8f14408-f2cc-4c37-b438-c4b629c7e2d4",
      "name": "Return Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -304,
        -192
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "jsCode": "// Check if we already have a formatted error from Format Success Response\nif (items[0].json.error && items[0].json.error.code) {\n  return [{\n    json: {\n      success: false,\n      criterion_id: items[0].json.criterion_id || 'unknown',\n      error: items[0].json.error\n    }\n  }];\n}\n\n// Otherwise, handle raw errors from AI agent\nconst errorMessage = items[0].json.error?.message || items[0].json.message || 'An unexpected error occurred during Stage 2 ranking';\n\n// Try to get criterion_id from the original input\nlet criterionId = 'unknown';\ntry {\n  criterionId = $('Input Validation').first().json.criterion?.id || 'unknown';\n} catch (e) {\n  // Ignore\n}\n\nreturn [{\n  json: {\n    success: false,\n    criterion_id: criterionId,\n    error: {\n      code: 'INTERNAL_ERROR',\n      message: errorMessage\n    }\n  }\n}];"
      },
      "id": "f3050714-3958-4850-b6ff-c45f8403f422",
      "name": "Handle Processing Error",
      "type": "n8n-nodes-base.code",
      "position": [
        -304,
        48
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "http://localhost:8080"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "608468b0-68cc-4c59-bfa3-07d202270f39",
      "name": "Return Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -80,
        48
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        -1408,
        160
      ],
      "id": "20955eee-7666-444b-ad87-81ae983c4162",
      "name": "Message a model in Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "r8zUmq6Bxb6qMTW3",
          "name": "Perplexity account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        -1024,
        160
      ],
      "id": "ee8556eb-13d2-4003-b08e-429228e19563",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "2iqVjPp3bKd5myEO",
          "name": "Tavily Serj"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Input Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Validation": {
      "main": [
        [
          {
            "node": "Check Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation": {
      "main": [
        [
          {
            "node": "Return Validation Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Ranking Agent - Stage 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Ranking Agent - Stage 2": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Processing Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Ranking Agent - Stage 2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Ranking Agent - Stage 2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Handle Processing Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Processing Error": {
      "main": [
        [
          {
            "node": "Return Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "AI Ranking Agent - Stage 2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Ranking Agent - Stage 2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "368d2b1a-4c2a-4040-be9f-825b497a727b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d8d0f3a1b5452865880018369d00dbc23f6a859a8ab8f3d9720659ce3799163c"
  },
  "id": "Go7RWbU6eo6D0CNk",
  "tags": [
    {
      "updatedAt": "2025-11-27T12:10:42.897Z",
      "createdAt": "2025-11-27T12:10:42.897Z",
      "id": "CNCk209MxjZDqFXR",
      "name": "Testing"
    }
  ]
}