00_IMPLEMENTATION/MIGRATING_TO_N8N/TEMPLATE_MANAGER_WORKFLOWS/Clarioo_Template_Manager_TESTING_COMPLETE.json
{
  "name": "Clarioo Template Manager (TESTING) - COMPLETE",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "template-manager-testing",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "webhook-template-manager-test",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1248,
        -32
      ],
      "webhookId": "template-manager-testing",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// SP_028: Template Manager - Input Validation\n// Supports 5 operations: list, get, upload, delete, track_usage\n\nconst query = items[0].json.query || {};\nconst body = items[0].json.body || {};\nconst action = query.action || body.action;\n\nconst errors = [];\n\n// Validate action\nif (!action || !['list', 'get', 'upload', 'delete', 'track_usage'].includes(action)) {\n  errors.push('action must be one of: list, get, upload, delete, track_usage');\n}\n\n// Validation by action type\nif (action === 'get') {\n  if (!query.template_id && !body.template_id) {\n    errors.push('template_id is required for get action');\n  }\n}\n\nif (action === 'upload') {\n  if (!body.user_id) {\n    errors.push('user_id is required for upload action');\n  }\n  // Excel file validation will be done by Spreadsheet File node\n}\n\nif (action === 'delete') {\n  if (!body.template_id) {\n    errors.push('template_id is required for delete action');\n  }\n  if (!body.user_id) {\n    errors.push('user_id is required for delete action');\n  }\n}\n\nif (action === 'track_usage') {\n  if (!body.template_id) {\n    errors.push('template_id is required for track_usage action');\n  }\n  if (!body.user_id) {\n    errors.push('user_id is required for track_usage action');\n  }\n  if (!body.project_id) {\n    errors.push('project_id is required for track_usage action');\n  }\n}\n\n// Return validation result\nif (errors.length > 0) {\n  return [{\n    json: {\n      validation_error: true,\n      error_code: 'INVALID_INPUT',\n      error_message: errors.join(', ')\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    validation_error: false,\n    action,\n    query,\n    body,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "input-validation-template-test",
      "name": "Input Validation",
      "type": "n8n-nodes-base.code",
      "position": [
        -1024,
        -32
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validation-check",
              "leftValue": "={{ $json.validation_error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-validation-template-test",
      "name": "Check Validation",
      "type": "n8n-nodes-base.if",
      "position": [
        -800,
        -32
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: false,\n  error: {\n    code: $json.error_code,\n    message: $json.error_message\n  }\n} }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "return-validation-error-template-test",
      "name": "Return Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -512,
        -176
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "list"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "get",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "upload",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "upload"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "track_usage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "track_usage"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-operation-template-test",
      "name": "Switch Operation",
      "type": "n8n-nodes-base.switch",
      "position": [
        -576,
        128
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clarioo_templates",
        "returnAll": true,
        "options": {
          "sort": {
            "sortProperties": [
              {
                "field": "created_at",
                "direction": "DESC"
              }
            ]
          }
        }
      },
      "id": "query-all-templates-test",
      "name": "Query All Templates",
      "type": "n8n-nodes-base.n8nDataTables",
      "position": [
        -256,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Filter templates and format response\nconst allTemplates = items;\nconst category = $node[\"Switch Operation\"].json.query?.category;\n\nlet filteredTemplates = allTemplates.filter(item => item.json.is_active === true);\n\nif (category && category !== 'all') {\n  filteredTemplates = filteredTemplates.filter(\n    item => item.json.template_category?.toUpperCase() === category.toUpperCase()\n  );\n}\n\nconst templates = filteredTemplates.map(item => ({\n  templateId: item.json.template_id,\n  templateCategory: item.json.template_category,\n  searchedBy: item.json.searched_by,\n  lookingFor: item.json.looking_for,\n  keyFeatures: item.json.key_features,\n  clientQuote: item.json.client_quote,\n  currentTool: item.json.current_tool,\n  criteria: typeof item.json.criteria === 'string' ? JSON.parse(item.json.criteria) : item.json.criteria,\n  vendors: typeof item.json.vendors === 'string' ? JSON.parse(item.json.vendors) : item.json.vendors,\n  comparisonMatrix: typeof item.json.comparison_matrix === 'string' ? JSON.parse(item.json.comparison_matrix) : item.json.comparison_matrix,\n  battlecards: typeof item.json.battlecards === 'string' ? JSON.parse(item.json.battlecards) : item.json.battlecards,\n  positioningData: typeof item.json.positioning_data === 'string' ? JSON.parse(item.json.positioning_data) : item.json.positioning_data,\n  summaryData: typeof item.json.summary_data === 'string' ? JSON.parse(item.json.summary_data) : item.json.summary_data\n}));\n\nreturn [{\n  json: {\n    success: true,\n    templates,\n    count: templates.length,\n    category: category || 'all'\n  }\n}];"
      },
      "id": "format-list-response-test",
      "name": "Format List Response",
      "type": "n8n-nodes-base.code",
      "position": [
        64,
        -80
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "return-list-templates-test",
      "name": "Return List Templates",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        304,
        -80
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "clarioo_templates",
        "rowId": "={{ $json.query?.template_id || $json.body?.template_id }}"
      },
      "id": "get-template-by-id-test",
      "name": "Get Template By ID",
      "type": "n8n-nodes-base.n8nDataTables",
      "position": [
        -256,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Format single template response\nconst template = items[0].json;\n\nif (!template || !template.is_active) {\n  return [{\n    json: {\n      success: false,\n      error: {\n        code: 'TEMPLATE_NOT_FOUND',\n        message: 'Template not found or has been deleted'\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    template: {\n      templateId: template.template_id,\n      templateCategory: template.template_category,\n      searchedBy: template.searched_by,\n      lookingFor: template.looking_for,\n      keyFeatures: template.key_features,\n      clientQuote: template.client_quote,\n      currentTool: template.current_tool,\n      criteria: typeof template.criteria === 'string' ? JSON.parse(template.criteria) : template.criteria,\n      vendors: typeof template.vendors === 'string' ? JSON.parse(template.vendors) : template.vendors,\n      comparisonMatrix: typeof template.comparison_matrix === 'string' ? JSON.parse(template.comparison_matrix) : template.comparison_matrix,\n      battlecards: typeof template.battlecards === 'string' ? JSON.parse(template.battlecards) : template.battlecards,\n      positioningData: typeof template.positioning_data === 'string' ? JSON.parse(template.positioning_data) : template.positioning_data,\n      summaryData: typeof template.summary_data === 'string' ? JSON.parse(template.summary_data) : template.summary_data\n    }\n  }\n}];"
      },
      "id": "format-get-response-test",
      "name": "Format Get Response",
      "type": "n8n-nodes-base.code",
      "position": [
        64,
        48
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "return-get-template-test",
      "name": "Return Get Template",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        304,
        48
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.body.file }}",
        "options": {
          "headerRow": 0
        }
      },
      "id": "parse-excel-file-test",
      "name": "Parse Excel File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        -256,
        176
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// SP_028 MVP: Parse Excel tabs 0-2 (INDEX, Criteria, Vendors)\n// Extract template data and format for Data Tables insertion\n\nconst sheetData = items[0].json.data;\nconst userId = $node[\"Switch Operation\"].json.body.user_id;\n\nif (!sheetData || !Array.isArray(sheetData)) {\n  throw new Error('Invalid Excel file format');\n}\n\n// Tab 0: INDEX - Extract metadata\nconst indexTab = sheetData[0];\nif (!indexTab || indexTab.length < 2) {\n  throw new Error('INDEX tab is missing or invalid');\n}\n\nconst indexData = {};\nfor (let i = 1; i < indexTab.length; i++) {\n  const row = indexTab[i];\n  if (row && row.length >= 2) {\n    indexData[row[0]] = row[1];\n  }\n}\n\nconst templateId = 'tpl_' + Date.now() + '_' + Math.random().toString(36).substr(2, 9);\nconst templateCategory = indexData['Category']?.toUpperCase() || 'UNCATEGORIZED';\nconst searchedBy = indexData['Searched By'] || '';\nconst lookingFor = indexData['Looking For'] || '';\n\n// Extract key features from first 4 criteria (will be done after parsing criteria tab)\nlet keyFeatures = indexData['Key Features'] || '';\nconst clientQuote = indexData['Client Quote'] || null;\nconst currentTool = indexData['Current Tool'] || null;\n\n// Tab 1: Criteria - Extract evaluation criteria\nconst criteriaTab = sheetData[1];\nconst criteria = [];\n\nif (criteriaTab && criteriaTab.length > 1) {\n  const headers = criteriaTab[0];\n  for (let i = 1; i < criteriaTab.length; i++) {\n    const row = criteriaTab[i];\n    if (row && row[0]) { // Has criterion name\n      criteria.push({\n        name: row[0] || '',\n        importance: row[1] || 'Medium',\n        description: row[2] || ''\n      });\n    }\n  }\n}\n\n// If key features not in INDEX, extract from first 4 criteria\nif (!keyFeatures && criteria.length > 0) {\n  keyFeatures = criteria.slice(0, 4).map(c => c.name).join(', ');\n}\n\n// Tab 2: Vendors - Extract vendor list\nconst vendorsTab = sheetData[2];\nconst vendors = [];\n\nif (vendorsTab && vendorsTab.length > 1) {\n  for (let i = 1; i < vendorsTab.length; i++) {\n    const row = vendorsTab[i];\n    if (row && row[0]) { // Has vendor name\n      vendors.push({\n        name: row[0] || '',\n        website: row[1] || '',\n        description: row[2] || ''\n      });\n    }\n  }\n}\n\n// Prepare template object for Data Tables\nconst template = {\n  template_id: templateId,\n  template_category: templateCategory,\n  searched_by: searchedBy,\n  looking_for: lookingFor,\n  key_features: keyFeatures,\n  client_quote: clientQuote,\n  current_tool: currentTool,\n  criteria: JSON.stringify(criteria),\n  vendors: JSON.stringify(vendors),\n  comparison_matrix: JSON.stringify({}),\n  battlecards: JSON.stringify({}),\n  positioning_data: JSON.stringify({}),\n  summary_data: JSON.stringify({}),\n  uploaded_by: userId,\n  is_active: true,\n  created_at: new Date().toISOString()\n};\n\nreturn [{ json: template }];"
      },
      "id": "transform-excel-data-test",
      "name": "Transform Excel Data",
      "type": "n8n-nodes-base.code",
      "position": [
        -16,
        176
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "clarioo_templates",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "template_id",
              "fieldValue": "={{ $json.template_id }}"
            },
            {
              "fieldName": "template_category",
              "fieldValue": "={{ $json.template_category }}"
            },
            {
              "fieldName": "searched_by",
              "fieldValue": "={{ $json.searched_by }}"
            },
            {
              "fieldName": "looking_for",
              "fieldValue": "={{ $json.looking_for }}"
            },
            {
              "fieldName": "key_features",
              "fieldValue": "={{ $json.key_features }}"
            },
            {
              "fieldName": "client_quote",
              "fieldValue": "={{ $json.client_quote }}"
            },
            {
              "fieldName": "current_tool",
              "fieldValue": "={{ $json.current_tool }}"
            },
            {
              "fieldName": "criteria",
              "fieldValue": "={{ $json.criteria }}"
            },
            {
              "fieldName": "vendors",
              "fieldValue": "={{ $json.vendors }}"
            },
            {
              "fieldName": "comparison_matrix",
              "fieldValue": "={{ $json.comparison_matrix }}"
            },
            {
              "fieldName": "battlecards",
              "fieldValue": "={{ $json.battlecards }}"
            },
            {
              "fieldName": "positioning_data",
              "fieldValue": "={{ $json.positioning_data }}"
            },
            {
              "fieldName": "summary_data",
              "fieldValue": "={{ $json.summary_data }}"
            },
            {
              "fieldName": "uploaded_by",
              "fieldValue": "={{ $json.uploaded_by }}"
            },
            {
              "fieldName": "is_active",
              "fieldValue": "={{ $json.is_active }}"
            }
          ]
        }
      },
      "id": "insert-template-test",
      "name": "Insert Template",
      "type": "n8n-nodes-base.n8nDataTables",
      "position": [
        224,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Format upload success response\nconst template = items[0].json;\nconst criteria = typeof template.criteria === 'string' ? JSON.parse(template.criteria) : template.criteria;\nconst vendors = typeof template.vendors === 'string' ? JSON.parse(template.vendors) : template.vendors;\n\nreturn [{\n  json: {\n    success: true,\n    template_id: template.template_id,\n    message: 'Template uploaded successfully',\n    criteria_count: criteria.length,\n    vendor_count: vendors.length,\n    template_category: template.template_category\n  }\n}];"
      },
      "id": "format-upload-response-test",
      "name": "Format Upload Response",
      "type": "n8n-nodes-base.code",
      "position": [
        464,
        176
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "return-upload-success-test",
      "name": "Return Upload Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        704,
        176
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "clarioo_templates",
        "rowId": "={{ $json.body.template_id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "is_active",
              "fieldValue": false
            }
          ]
        }
      },
      "id": "soft-delete-template-test",
      "name": "Soft Delete Template",
      "type": "n8n-nodes-base.n8nDataTables",
      "position": [
        -256,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    success: true,\n    message: 'Template deleted successfully',\n    template_id: items[0].json.template_id\n  }\n}];"
      },
      "id": "format-delete-response-test",
      "name": "Format Delete Response",
      "type": "n8n-nodes-base.code",
      "position": [
        64,
        304
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "return-delete-success-test",
      "name": "Return Delete Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        304,
        304
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "clarioo_template_usage",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "template_id",
              "fieldValue": "={{ $json.body.template_id }}"
            },
            {
              "fieldName": "user_id",
              "fieldValue": "={{ $json.body.user_id }}"
            },
            {
              "fieldName": "project_id",
              "fieldValue": "={{ $json.body.project_id }}"
            },
            {
              "fieldName": "used_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "insert-usage-record-test",
      "name": "Insert Usage Record",
      "type": "n8n-nodes-base.n8nDataTables",
      "position": [
        -256,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clarioo_template_usage",
        "returnAll": false,
        "limit": 100,
        "options": {
          "filters": {
            "conditions": [
              {
                "field": "template_id",
                "operator": "equals",
                "value": "={{ $node[\"Switch Operation\"].json.body.template_id }}"
              }
            ]
          }
        }
      },
      "id": "count-template-usage-test",
      "name": "Count Template Usage",
      "type": "n8n-nodes-base.n8nDataTables",
      "position": [
        64,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const usageRecords = items;\nconst templateId = $node[\"Switch Operation\"].json.body.template_id;\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Template usage tracked successfully',\n    template_id: templateId,\n    usage_count: usageRecords.length\n  }\n}];"
      },
      "id": "format-usage-response-test",
      "name": "Format Usage Response",
      "type": "n8n-nodes-base.code",
      "position": [
        304,
        432
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "return-track-usage-test",
      "name": "Return Track Usage",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        544,
        432
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: false,\n  error: {\n    code: 'PROCESSING_ERROR',\n    message: $json.error?.message || 'An error occurred while processing your request'\n  }\n} }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "return-error-response-test",
      "name": "Return Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        304,
        608
      ],
      "typeVersion": 1.4
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Input Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Validation": {
      "main": [
        [
          {
            "node": "Check Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation": {
      "main": [
        [
          {
            "node": "Return Validation Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Operation": {
      "main": [
        [
          {
            "node": "Query All Templates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Template By ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Excel File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Soft Delete Template",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Usage Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query All Templates": {
      "main": [
        [
          {
            "node": "Format List Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format List Response": {
      "main": [
        [
          {
            "node": "Return List Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Template By ID": {
      "main": [
        [
          {
            "node": "Format Get Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Get Response": {
      "main": [
        [
          {
            "node": "Return Get Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Excel File": {
      "main": [
        [
          {
            "node": "Transform Excel Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Excel Data": {
      "main": [
        [
          {
            "node": "Insert Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Template": {
      "main": [
        [
          {
            "node": "Format Upload Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Upload Response": {
      "main": [
        [
          {
            "node": "Return Upload Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Soft Delete Template": {
      "main": [
        [
          {
            "node": "Format Delete Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Delete Response": {
      "main": [
        [
          {
            "node": "Return Delete Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Usage Record": {
      "main": [
        [
          {
            "node": "Count Template Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Template Usage": {
      "main": [
        [
          {
            "node": "Format Usage Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Usage Response": {
      "main": [
        [
          {
            "node": "Return Track Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query All Templates": {
      "error": [
        [
          {
            "node": "Return Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Template By ID": {
      "error": [
        [
          {
            "node": "Return Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Excel File": {
      "error": [
        [
          {
            "node": "Return Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Excel Data": {
      "error": [
        [
          {
            "node": "Return Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Template": {
      "error": [
        [
          {
            "node": "Return Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Soft Delete Template": {
      "error": [
        [
          {
            "node": "Return Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Usage Record": {
      "error": [
        [
          {
            "node": "Return Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Template Usage": {
      "error": [
        [
          {
            "node": "Return Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "template-manager-v2-test-complete",
  "meta": {
    "instanceId": "clarioo-template-manager-test-complete"
  },
  "id": "ClariooTemplateManagerTestComplete",
  "tags": [],
  "notes": "SP_028: Template Manager (TESTING) - COMPLETE IMPLEMENTATION\n\nOperations:\n1. LIST - Query all active templates from Data Tables (with optional category filter)\n2. GET - Get single template by ID from Data Tables\n3. UPLOAD - Parse Excel file (tabs 0-2), transform data, insert into Data Tables\n4. DELETE - Soft delete template (set is_active=false in Data Tables)\n5. TRACK_USAGE - Insert usage record and return usage count\n\nComplete Implementation:\n✅ Static POST webhook (fixed from dynamic)\n✅ Input validation with detailed error messages\n✅ Switch-based routing (proper branching)\n✅ Data Tables integration for all CRUD operations\n✅ Excel parser for upload operation (tabs 0-2: INDEX, Criteria, Vendors)\n✅ Proper error handling with 500 responses\n✅ CORS headers on all responses\n✅ JSON serialization for complex fields\n✅ Soft delete pattern (is_active flag)\n✅ Usage tracking and counting\n\nAPI Endpoints:\nWebhook URL: http://localhost:8080/webhook/template-manager-testing\n\nExample Requests:\n\n1. List templates:\n   POST /webhook/template-manager-testing\n   { \"action\": \"list\", \"category\": \"CX PLATFORM\" }\n\n2. Get template:\n   POST /webhook/template-manager-testing\n   { \"action\": \"get\", \"template_id\": \"luxury-fashion-retailer-001\" }\n\n3. Upload template:\n   POST /webhook/template-manager-testing\n   { \"action\": \"upload\", \"user_id\": \"admin_001\", \"file\": <binary> }\n\n4. Delete template:\n   POST /webhook/template-manager-testing\n   { \"action\": \"delete\", \"template_id\": \"tpl_123\", \"user_id\": \"admin_001\" }\n\n5. Track usage:\n   POST /webhook/template-manager-testing\n   { \"action\": \"track_usage\", \"template_id\": \"tpl_123\", \"user_id\": \"user_001\", \"project_id\": \"proj_001\" }"
}
