00_IMPLEMENTATION/MIGRATING_TO_N8N/TEMPLATE_MANAGER_WORKFLOWS/Clarioo Template Manager - LIST & CREATE (TESTING)v4_7SHEETS.json
{
  "name": "Clarioo Template Manager - LIST & CREATE (TESTING) v4 - 7 Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "template-manager",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "79a429f7-950d-4efb-8ac2-016bfac8f6e0",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [-400, 240],
      "webhookId": "template-manager",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Determine action from query or body\nconst query = items[0].json.query || {};\nconst body = items[0].json.body || {};\nconst action = query.action || body.action || 'list';\n\n// IMPORTANT: Pass through binary data (uploaded file)\nreturn [{\n  json: {\n    action: action,\n    query: query,\n    body: body,\n    originalData: items[0].json\n  },\n  binary: items[0].binary || {}\n}];"
      },
      "id": "f8a21438-9f7e-4293-ac29-73ffac5bf555",
      "name": "Route Action",
      "type": "n8n-nodes-base.code",
      "position": [-176, 240],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "list"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "upload",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "upload"
            }
          ]
        },
        "options": {}
      },
      "id": "e12c3b7a-efeb-46c2-a791-51aa5b9545e9",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "position": [48, 240],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "UINiFwvMVSZ6MInY",
          "mode": "list",
          "cachedResultName": "clarioo_templates",
          "cachedResultUrl": "/projects/91hVWc99MqH0rduN/datatables/UINiFwvMVSZ6MInY"
        },
        "returnAll": true
      },
      "id": "d001d290-b5d9-4702-ace9-d0fd6e5bb03a",
      "name": "Get All Templates",
      "type": "n8n-nodes-base.dataTable",
      "position": [288, 96],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Filter active templates and format response\nconst allTemplates = items;\n\nlet activeTemplates = allTemplates.filter(item => item.json.is_active === true);\n\nconst templates = activeTemplates.map(item => {\n  const template = item.json;\n  \n  return {\n    templateId: template.template_id,\n    templateCategory: template.template_category,\n    searchedBy: template.searched_by,\n    lookingFor: template.looking_for,\n    keyFeatures: template.key_features,\n    clientQuote: template.client_quote,\n    currentTool: template.current_tool,\n    criteria: typeof template.criteria === 'string' ? JSON.parse(template.criteria) : (template.criteria || []),\n    vendors: typeof template.vendors === 'string' ? JSON.parse(template.vendors) : (template.vendors || []),\n    comparisonMatrix: typeof template.comparison_matrix === 'string' ? JSON.parse(template.comparison_matrix) : (template.comparison_matrix || {}),\n    battlecards: typeof template.battlecards === 'string' ? JSON.parse(template.battlecards) : (template.battlecards || {}),\n    positioningData: typeof template.positioning_data === 'string' ? JSON.parse(template.positioning_data) : (template.positioning_data || {}),\n    summaryData: typeof template.summary_data === 'string' ? JSON.parse(template.summary_data) : (template.summary_data || {})\n  };\n});\n\nreturn [{\n  json: {\n    success: true,\n    templates: templates,\n    count: templates.length\n  }\n}];"
      },
      "id": "12c6714f-ac4e-473c-a71d-c61a03d6b845",
      "name": "Format List Response",
      "type": "n8n-nodes-base.code",
      "position": [512, 96],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "e3ca6da0-e690-4a1a-b102-74a4ed8a5867",
      "name": "Return List",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [736, 96],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "jsCode": "// Extract file and user_id from webhook data\nconst body = items[0].json.body || {};\nconst query = items[0].json.query || {};\n\n// Get user_id from body or query\nconst userId = body.user_id || query.user_id || 'unknown';\n\n// Check if binary data exists\nif (!items[0].binary || !items[0].binary.file) {\n  throw new Error('No file uploaded. Please provide an Excel file in the \"file\" field.');\n}\n\n// Pass through the binary data\nreturn [{\n  json: {\n    user_id: userId,\n    filename: items[0].binary.file.fileName || 'uploaded_file.xlsx',\n    mimeType: items[0].binary.file.mimeType || 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'\n  },\n  binary: {\n    file: items[0].binary.file\n  }\n}];"
      },
      "id": "3ac05bed-611b-4d8b-a22b-ad0aa6bd4ba3",
      "name": "Extract File",
      "type": "n8n-nodes-base.code",
      "position": [288, 500],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "file",
        "options": {
          "sheetName": "INDEX"
        }
      },
      "id": "sheet-index",
      "name": "Extract Sheet: INDEX",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [512, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "file",
        "options": {
          "sheetName": "1. Evaluation Criteria"
        }
      },
      "id": "sheet-criteria",
      "name": "Extract Sheet: Criteria",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [512, 400],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "file",
        "options": {
          "sheetName": "2. Vendor List"
        }
      },
      "id": "sheet-vendors",
      "name": "Extract Sheet: Vendors",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [512, 500],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "file",
        "options": {
          "sheetName": "3. Vendor Evaluation"
        }
      },
      "id": "sheet-evaluation",
      "name": "Extract Sheet: Evaluation",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [512, 600],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "file",
        "options": {
          "sheetName": "4. Detailed Matching"
        }
      },
      "id": "sheet-matching",
      "name": "Extract Sheet: Matching",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [512, 700],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "file",
        "options": {
          "sheetName": "5. Battlecards"
        }
      },
      "id": "sheet-battlecards",
      "name": "Extract Sheet: Battlecards",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [512, 800],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "file",
        "options": {
          "sheetName": "6. Pre-Demo Brief"
        }
      },
      "id": "sheet-predemo",
      "name": "Extract Sheet: Pre-Demo",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [512, 900],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-all-sheets",
      "name": "Merge All Sheets",
      "type": "n8n-nodes-base.merge",
      "position": [736, 500],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "// SEE TRANSFORM_EXCEL_v6_ALL_SHEETS.md for this code\n// Placeholder - will be provided in separate file\nthrow new Error('Please replace this code with the v6 transform code from TRANSFORM_EXCEL_v6_ALL_SHEETS.md');"
      },
      "id": "1d2a45d2-3b54-40af-9e4e-abde4fc3f253",
      "name": "Transform Excel Data",
      "type": "n8n-nodes-base.code",
      "position": [960, 500],
      "typeVersion": 2
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "UINiFwvMVSZ6MInY",
          "mode": "list",
          "cachedResultName": "clarioo_templates",
          "cachedResultUrl": "/projects/91hVWc99MqH0rduN/datatables/UINiFwvMVSZ6MInY"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "template_id",
              "displayName": "template_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "template_category",
              "displayName": "template_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "searched_by",
              "displayName": "searched_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "looking_for",
              "displayName": "looking_for",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "key_features",
              "displayName": "key_features",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "client_quote",
              "displayName": "client_quote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "current_tool",
              "displayName": "current_tool",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "criteria",
              "displayName": "criteria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "vendors",
              "displayName": "vendors",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "comparison_matrix",
              "displayName": "comparison_matrix",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "battlecards",
              "displayName": "battlecards",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "positioning_data",
              "displayName": "positioning_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "summary_data",
              "displayName": "summary_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "uploaded_by",
              "displayName": "uploaded_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "is_active",
              "displayName": "is_active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "4aef35dd-a06f-47ed-904a-38ea1b6f7859",
      "name": "Insert Template",
      "type": "n8n-nodes-base.dataTable",
      "position": [1184, 500],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const template = items[0].json;\nconst criteria = typeof template.criteria === 'string' ? JSON.parse(template.criteria) : template.criteria;\nconst vendors = typeof template.vendors === 'string' ? JSON.parse(template.vendors) : template.vendors;\n\nreturn [{\n  json: {\n    success: true,\n    template_id: template.template_id,\n    message: 'Template uploaded successfully',\n    criteria_count: criteria.length,\n    vendor_count: vendors.length,\n    template_category: template.template_category\n  }\n}];"
      },
      "id": "ebba103a-0140-4888-a901-bdd4abf5a6a5",
      "name": "Format Upload Response",
      "type": "n8n-nodes-base.code",
      "position": [1408, 500],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "cfa10280-68ce-4859-b413-959e82c488cc",
      "name": "Return Upload",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1632, 500],
      "typeVersion": 1.4
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Get All Templates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Templates": {
      "main": [
        [
          {
            "node": "Format List Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format List Response": {
      "main": [
        [
          {
            "node": "Return List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract File": {
      "main": [
        [
          {
            "node": "Extract Sheet: INDEX",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Sheet: Criteria",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Sheet: Vendors",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Sheet: Evaluation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Sheet: Matching",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Sheet: Battlecards",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Sheet: Pre-Demo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Sheet: INDEX": {
      "main": [
        [
          {
            "node": "Merge All Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Sheet: Criteria": {
      "main": [
        [
          {
            "node": "Merge All Sheets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Sheet: Vendors": {
      "main": [
        [
          {
            "node": "Merge All Sheets",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Extract Sheet: Evaluation": {
      "main": [
        [
          {
            "node": "Merge All Sheets",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Extract Sheet: Matching": {
      "main": [
        [
          {
            "node": "Merge All Sheets",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Extract Sheet: Battlecards": {
      "main": [
        [
          {
            "node": "Merge All Sheets",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Extract Sheet: Pre-Demo": {
      "main": [
        [
          {
            "node": "Merge All Sheets",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Merge All Sheets": {
      "main": [
        [
          {
            "node": "Transform Excel Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Excel Data": {
      "main": [
        [
          {
            "node": "Insert Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Template": {
      "main": [
        [
          {
            "node": "Format Upload Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Upload Response": {
      "main": [
        [
          {
            "node": "Return Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "template-manager-7-sheets"
  },
  "id": "template-manager-7sheets",
  "tags": []
}
