00_IMPLEMENTATION/MIGRATING_TO_N8N/Clarioo_AI_Battlecard_Row.json
{
  "name": "Clarioo AI Battlecard Row Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clarioo-battlecard-row",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://demo.clarioo.io"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "webhook-battlecard-row",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1248,
        -32
      ],
      "webhookId": "clarioo-battlecard-row",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const body = items[0].json.body || {};\n\nconst user_id = body.user_id;\nconst session_id = body.session_id;\nconst project_id = body.project_id;\nconst project_context = body.project_context || '';\nconst vendor_names = body.vendor_names || [];\nconst criteria = body.criteria || [];\nconst already_filled_categories = body.already_filled_categories || [];\nconst is_mandatory_category = body.is_mandatory_category || false;\nconst requested_category = body.requested_category || null;\nconst timestamp = body.timestamp;\n\n// Validation\nconst errors = [];\n\nif (!user_id || user_id.trim() === '') {\n  errors.push('user_id is required');\n}\n\nif (!session_id || session_id.trim() === '') {\n  errors.push('session_id is required');\n}\n\nif (!project_id || project_id.trim() === '') {\n  errors.push('project_id is required');\n}\n\nif (!project_context || project_context.trim().length < 10) {\n  errors.push('project_context must be at least 10 characters');\n}\n\nif (!Array.isArray(vendor_names) || vendor_names.length === 0) {\n  errors.push('vendor_names must be a non-empty array');\n}\n\nif (vendor_names.length > 10) {\n  errors.push('vendor_names cannot exceed 10 vendors');\n}\n\nif (!Array.isArray(criteria) || criteria.length === 0) {\n  errors.push('criteria must be a non-empty array (for context)');\n}\n\nif (!Array.isArray(already_filled_categories)) {\n  errors.push('already_filled_categories must be an array');\n}\n\nif (is_mandatory_category && !requested_category) {\n  errors.push('requested_category is required when is_mandatory_category is true');\n}\n\nif (!timestamp) {\n  errors.push('timestamp is required');\n}\n\nif (errors.length > 0) {\n  return [{\n    json: {\n      validation_error: true,\n      error_code: 'INVALID_INPUT',\n      error_message: errors.join(', ')\n    }\n  }];\n}\n\n// Pass through validated data\nreturn [{\n  json: {\n    validation_error: false,\n    user_id,\n    session_id,\n    project_id,\n    project_context: project_context.trim(),\n    vendor_names,\n    criteria,\n    already_filled_categories,\n    is_mandatory_category,\n    requested_category,\n    timestamp\n  }\n}];"
      },
      "id": "input-validation-battlecard",
      "name": "Input Validation",
      "type": "n8n-nodes-base.code",
      "position": [
        -1024,
        -32
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "validation-check",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.validation_error }}",
              "rightValue": true
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-validation-battlecard",
      "name": "Check Validation",
      "type": "n8n-nodes-base.if",
      "position": [
        -800,
        -32
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: false,\n  error: {\n    code: $json.error_code,\n    message: $json.error_message\n  }\n} }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://demo.clarioo.io"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "return-validation-error-battlecard",
      "name": "Return Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -512,
        -176
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=PROJECT CONTEXT:\n{{ $json.project_context }}\n\nVENDORS TO COMPARE:\n{{ $json.vendor_names.join(', ') }}\n\nUSER'S EVALUATION CRITERIA (for context):\n{{ $json.criteria.slice(0, 10).map(c => `- ${c.name}: ${c.explanation || ''}`).join('\\n') }}\n{{ $json.criteria.length > 10 ? `... and ${$json.criteria.length - 10} more criteria` : '' }}\n\n{% if $json.is_mandatory_category %}\nMANDATORY CATEGORY TO RESEARCH:\n\"{{ $json.requested_category }}\"\n\nYour task is to research this specific category for all vendors.\n{% else %}\nALREADY FILLED CATEGORIES (avoid duplicating):\n{{ $json.already_filled_categories.join(', ') }}\n\nYour task is to select ONE NEW comparison category that would be valuable for comparing these vendors, then research it.\n{% endif %}\n\nCATEGORY SELECTION GUIDELINES:\n\n1. MANDATORY CATEGORIES (must be filled first):\n   - Target Verticals (industries/sectors the solution focuses on)\n   - Key Customers (notable clients, case studies, customer types)\n   - Main Integrations (key partnerships, ecosystem integrations)\n\n2. DYNAMIC CATEGORY POOL (choose based on vendor context):\n   - Pricing Model (per user/month, transaction-based, flat fee, custom enterprise)\n   - Company Size/Maturity (startup, growth-stage, established, public company)\n   - Geographic Focus (North America, EMEA, APAC, global coverage)\n   - Implementation Complexity (self-serve, assisted setup, professional services)\n   - Support Model (email-only, chat, phone, dedicated account manager)\n   - Security/Compliance (SOC2, GDPR, HIPAA, ISO27001, certifications)\n   - Deployment Options (cloud-only, on-premise, hybrid)\n   - Contract Terms (monthly, annual, multi-year commitments)\n   - Target Company Size (SMB, mid-market, enterprise)\n   - Industry Vertical Specialization (specific industry expertise)\n\nRESEARCH PROCESS:\n\nSTEP 1: CATEGORY SELECTION (if not mandatory)\nAnalyze the vendors and project context to choose ONE category from the dynamic pool that:\n- Has NOT been filled yet (check already_filled_categories)\n- Would provide meaningful differentiation between these specific vendors\n- Is discoverable through web research\n- Relates to the user's evaluation criteria\n\nSTEP 2: VENDOR RESEARCH (for chosen category)\nFor each vendor, conduct 2-3 Perplexity searches:\n\nSearch patterns:\n- \"[Vendor Name] [category] 2024\"\n- \"[Vendor Name] vs competitors [category]\"\n- \"[Vendor Name] [category] features comparison\"\n\nFor each vendor, extract:\n- Factual information about this category\n- Specific details (numbers, names, features)\n- Source URL for evidence\n\nExample searches:\nIf category is \"Pricing Model\":\n- \"Salesforce pricing model per user 2024\"\n- \"HubSpot pricing vs Salesforce pricing structure\"\n- \"Pipedrive pricing tiers and features\"\n\nIf category is \"Key Customers\":\n- \"Salesforce major customers case studies\"\n- \"HubSpot notable clients industries\"\n- \"Pipedrive customer success stories\"\n\nSTEP 3: TEXT GENERATION\nFor each vendor cell, write 1-3 sentences:\n- Be specific (include numbers, names, features)\n- Compare/contrast where relevant\n- Keep it scannable and factual\n- Avoid marketing language\n\nGood examples:\n- \"$25-100 per user/month based on edition. Enterprise custom pricing for 500+ users. Free trial available for 14 days.\"\n- \"Major clients include Walmart, Amazon, Toyota. Strong presence in retail (40%), manufacturing (30%), and logistics (20%) sectors.\"\n- \"Native integrations with Salesforce, SAP, Oracle. REST API for custom integrations. Zapier support for 1000+ apps.\"\n\nBad examples:\n- \"Flexible pricing\" (too vague)\n- \"Many Fortune 500 clients\" (not specific)\n- \"Excellent integration capabilities\" (marketing language)\n\nSEARCH BUDGET:\n- Maximum 15 searches total (2-3 per vendor for {{ $json.vendor_names.length }} vendors)\n- Prioritize official vendor documentation, pricing pages, case study pages\n- Use third-party sources (G2, Capterra, comparison sites) for validation\n\nOUTPUT STRUCTURE:\n{\n  \"row_id\": \"battlecard_row_[number]\",\n  \"category_title\": \"Selected Category Name\",\n  \"category_definition\": \"One sentence explaining what this category means\",\n  \"cells\": [\n    {\n      \"vendor_name\": \"Vendor 1\",\n      \"text\": \"1-3 sentences with specific details\",\n      \"source_url\": \"https://...\"\n    },\n    {\n      \"vendor_name\": \"Vendor 2\",\n      \"text\": \"1-3 sentences with specific details\",\n      \"source_url\": \"https://...\"\n    }\n  ],\n  \"timestamp\": \"{{ $json.timestamp }}\"\n}\n\nFINAL VALIDATION:\nBefore returning JSON, verify:\n□ Category is NOT in already_filled_categories list (unless mandatory)\n□ All vendor cells have specific, factual information\n□ All cells have source URLs\n□ Text is scannable (1-3 sentences per cell)\n□ No marketing language or vague statements\n\nReturn ONLY the JSON object.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a vendor intelligence analyst creating battle cards for software comparison.\n\nYOUR ROLE:\n- Generate ONE comparison category (row) at a time\n- Research specific factual information for each vendor in that category\n- Provide scannable, evidence-backed insights\n\nCATEGORY SELECTION PRIORITIES:\n1. First 3 rows: Target Verticals, Key Customers, Main Integrations (mandatory)\n2. Remaining rows: Choose dynamic categories based on vendor context\n3. Avoid duplicating categories already filled\n\nRESEARCH QUALITY STANDARDS:\n- Use official vendor documentation as primary source\n- Validate with third-party sources (G2, Capterra, review sites)\n- Be specific: include numbers, names, features\n- No vague statements like \"flexible\" or \"many clients\"\n- Maximum 15 searches for efficiency\n\nOUTPUT FORMAT:\n- Valid JSON only, no markdown\n- One category with cells for all vendors\n- 1-3 sentences per cell\n- Source URL for each cell\n\nSEARCH BUDGET: 15 searches maximum (2-3 per vendor)"
        }
      },
      "id": "ai-battlecard-research",
      "name": "AI Battlecard Research Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -576,
        128
      ],
      "typeVersion": 2.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "maxTokens": 6000,
          "temperature": 0.3
        }
      },
      "id": "openai-model-battlecard",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -656,
        384
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "jKn3GZ9W5ZRgXc2d",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"row_id\": { \n      \"type\": \"string\", \n      \"description\": \"Unique identifier for this row (e.g., battlecard_row_1)\" \n    },\n    \"category_title\": { \n      \"type\": \"string\", \n      \"description\": \"Name of the comparison category (e.g., Pricing Model, Target Verticals)\" \n    },\n    \"category_definition\": { \n      \"type\": \"string\", \n      \"description\": \"One sentence explaining what this category means\" \n    },\n    \"cells\": {\n      \"type\": \"array\",\n      \"description\": \"Array of vendor cells, one per vendor\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"vendor_name\": { \"type\": \"string\" },\n          \"text\": { \"type\": \"string\", \"description\": \"1-3 sentences with specific details\" },\n          \"source_url\": { \"type\": \"string\", \"description\": \"Evidence URL\" }\n        },\n        \"required\": [\"vendor_name\", \"text\", \"source_url\"]\n      }\n    },\n    \"timestamp\": { \"type\": \"string\" }\n  },\n  \"required\": [\"row_id\", \"category_title\", \"cells\"]\n}"
      },
      "id": "structured-output-battlecard",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -368,
        384
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "jsCode": "try {\n  const aiOutput = items[0].json.output;\n\n  // Validate output structure\n  if (!aiOutput || !aiOutput.row_id || !aiOutput.category_title) {\n    throw new Error('Invalid AI response: missing row data');\n  }\n\n  if (!Array.isArray(aiOutput.cells) || aiOutput.cells.length === 0) {\n    throw new Error('Invalid AI response: cells must be non-empty array');\n  }\n\n  // Get expected vendor names from input\n  const expectedVendors = $('Input Validation').first().json.vendor_names;\n  \n  // Validate we have cells for all vendors\n  if (aiOutput.cells.length !== expectedVendors.length) {\n    console.log(`Warning: Expected ${expectedVendors.length} cells but got ${aiOutput.cells.length}`);\n  }\n\n  // Validate each cell\n  for (const cell of aiOutput.cells) {\n    if (!cell.vendor_name || !cell.text) {\n      throw new Error(`Invalid cell: missing vendor_name or text`);\n    }\n    if (!cell.source_url) {\n      console.log(`Warning: Cell for ${cell.vendor_name} missing source_url`);\n      cell.source_url = ''; // Default to empty string\n    }\n  }\n\n  // Build final response\n  const response = {\n    row_id: aiOutput.row_id,\n    category_title: aiOutput.category_title,\n    category_definition: aiOutput.category_definition || '',\n    cells: aiOutput.cells.map(cell => ({\n      vendor_name: cell.vendor_name.trim(),\n      text: cell.text.trim(),\n      source_url: cell.source_url?.trim() || ''\n    })),\n    timestamp: aiOutput.timestamp || new Date().toISOString()\n  };\n\n  return [{\n    json: {\n      success: true,\n      row: response,\n      research_summary: `Completed battlecard row: ${response.category_title} for ${response.cells.length} vendors`\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      success: false,\n      error: {\n        code: 'AI_PROCESSING_ERROR',\n        message: `Battlecard row generation failed: ${error.message}`\n      }\n    }\n  }];\n}"
      },
      "id": "format-success-battlecard",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "position": [
        -224,
        32
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "operator": {
                "type": "boolean",
                "operation": "false"
              },
              "leftValue": "={{ $json.success }}",
              "rightValue": false
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success-battlecard",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "position": [
        -16,
        32
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://demo.clarioo.io"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "return-success-battlecard",
      "name": "Return Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        224,
        16
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "jsCode": "// Check if we already have a formatted error from Format Success Response\nif (items[0].json.error && items[0].json.error.code) {\n  return [{\n    json: {\n      success: false,\n      error: items[0].json.error\n    }\n  }];\n}\n\n// Otherwise, handle raw errors from AI agent\nconst errorMessage = items[0].json.error?.message || items[0].json.message || 'An unexpected error occurred during battlecard generation';\n\nreturn [{\n  json: {\n    success: false,\n    error: {\n      code: 'INTERNAL_ERROR',\n      message: errorMessage\n    }\n  }\n}];"
      },
      "id": "handle-error-battlecard",
      "name": "Handle Processing Error",
      "type": "n8n-nodes-base.code",
      "position": [
        224,
        256
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://demo.clarioo.io"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "return-error-battlecard",
      "name": "Return Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        448,
        256
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        -496,
        400
      ],
      "id": "perplexity-tool-battlecard",
      "name": "Message a model in Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "r8zUmq6Bxb6qMTW3",
          "name": "Perplexity account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Input Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Validation": {
      "main": [
        [
          {
            "node": "Check Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation": {
      "main": [
        [
          {
            "node": "Return Validation Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Battlecard Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Battlecard Research Agent": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Processing Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Battlecard Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Battlecard Research Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Handle Processing Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Processing Error": {
      "main": [
        [
          {
            "node": "Return Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "AI Battlecard Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "battlecard-v1",
  "meta": {
    "instanceId": "clarioo-battlecard-generator"
  },
  "id": "ClariooBattlecardRow",
  "tags": []
}
