00_IMPLEMENTATION/MIGRATING_TO_N8N/Clarioo AI Find Vendors2.json
{
  "name": "Clarioo AI Find Vendors",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clarioo-find-vendors",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "http://localhost:8080"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "0af00b6c-b8ab-40be-9e18-8b96838356c3",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1664,
        -192
      ],
      "webhookId": "clarioo-find-vendors",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const body = items[0].json.body || {};\n\nconst user_id = body.user_id;\nconst session_id = body.session_id;\nconst project_id = body.project_id;\nconst project_name = body.project_name || '';\nconst project_description = body.project_description || '';\nconst project_category = body.project_category || '';\nconst criteria = body.criteria || [];\nconst max_vendors = body.max_vendors || 10;\nconst timestamp = body.timestamp;\n\n// Validation\nconst errors = [];\n\nif (!user_id || user_id.trim() === '') {\n  errors.push('user_id is required');\n}\n\nif (!session_id || session_id.trim() === '') {\n  errors.push('session_id is required');\n}\n\nif (!project_id || project_id.trim() === '') {\n  errors.push('project_id is required');\n}\n\nif (!project_name || project_name.trim() === '') {\n  errors.push('project_name is required');\n}\n\nif (project_description.trim().length < 10) {\n  errors.push('project_description must be at least 10 characters');\n}\n\nif (!project_category || project_category.trim() === '') {\n  errors.push('project_category is required');\n}\n\nif (!Array.isArray(criteria)) {\n  errors.push('criteria must be an array');\n}\n\nif (max_vendors < 1 || max_vendors > 20) {\n  errors.push('max_vendors must be between 1 and 20');\n}\n\nif (!timestamp) {\n  errors.push('timestamp is required');\n}\n\nif (errors.length > 0) {\n  return [{\n    json: {\n      validation_error: true,\n      error_code: 'INVALID_INPUT',\n      error_message: errors.join(', ')\n    }\n  }];\n}\n\n// Pass through validated data\nreturn [{\n  json: {\n    validation_error: false,\n    user_id,\n    session_id,\n    project_id,\n    project_name: project_name.trim(),\n    project_description: project_description.trim(),\n    project_category: project_category.trim(),\n    criteria,\n    max_vendors,\n    timestamp\n  }\n}];"
      },
      "id": "0c70f2b0-1f04-4f67-bc61-1a2690a2c46b",
      "name": "Input Validation",
      "type": "n8n-nodes-base.code",
      "position": [
        -1440,
        -192
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "validation-check",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.validation_error }}",
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "ff64adcf-b4da-4c95-babf-7a6440cb0b79",
      "name": "Check Validation",
      "type": "n8n-nodes-base.if",
      "position": [
        -1216,
        -192
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: false,\n  vendors: [],\n  error: {\n    code: $json.error_code,\n    message: $json.error_message\n  }\n} }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "http://localhost:8080"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "fb2fb9ea-b0f5-49ea-9b29-68297ed237d2",
      "name": "Return Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -928,
        -336
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Find vendors matching this project:\n\nPROJECT: {{ $json.project_name }}\nCATEGORY: {{ $json.project_category }}\nDESCRIPTION: {{ $json.project_description }}\n\nCRITERIA TO MATCH:\n{{ JSON.stringify($json.criteria, null, 2) }}\n\nINSTRUCTIONS:\n1. Use Perplexity to search for \"{{ $json.project_category }} software vendors\" and related terms\n2. Find up to {{ $json.max_vendors }} real vendors that match the project requirements\n3. For each vendor found, gather:\n   - Official website URL (must be valid and accessible)\n   - Pricing information (e.g., \"Starting at $25/user/month\", \"Contact for pricing\", \"Free tier available\")\n   - Overall rating (1-5 scale, use .5 increments if appropriate)\n   - Key features relevant to the criteria (list 3-5 main features)\n   - Brief description of what the vendor/product does\n4. Include only vendors with verified, working websites\n5. Prioritize vendors that match high-importance criteria\n6. Ensure variety - include a mix of established players and newer alternatives\n\nGenerate a UUID v4 for each vendor's id field.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert vendor research analyst specializing in software evaluation. Your task is to find real, currently active software vendors that match the given project requirements and evaluation criteria.\n\nUse Perplexity search to find accurate, up-to-date vendor information. Always verify that:\n1. The vendor/product actually exists and is actively maintained\n2. The website URL is correct and accessible\n3. Pricing information is current\n4. Features claimed are actually offered\n\nReturn only vendors you are confident exist and match the requirements. Quality over quantity."
        }
      },
      "id": "d010e151-7be0-4f60-a771-6c83be7010c0",
      "name": "AI Vendor Discovery Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -992,
        -48
      ],
      "typeVersion": 2.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "maxTokens": 4000,
          "temperature": 0.3
        }
      },
      "id": "55f9a363-1f70-4c6e-a064-55b06dc7633a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1072,
        192
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "jKn3GZ9W5ZRgXc2d",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"vendors\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"string\", \"description\": \"UUID v4 for the vendor\" },\n          \"name\": { \"type\": \"string\", \"description\": \"Vendor/product name\" },\n          \"description\": { \"type\": \"string\", \"description\": \"Brief description of the vendor/product\" },\n          \"website\": { \"type\": \"string\", \"description\": \"Official website URL\" },\n          \"pricing\": { \"type\": \"string\", \"description\": \"Pricing model description\" },\n          \"rating\": { \"type\": \"number\", \"description\": \"Rating from 1-5\" },\n          \"features\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" },\n            \"description\": \"Key features relevant to criteria\"\n          }\n        },\n        \"required\": [\"id\", \"name\", \"description\", \"website\", \"pricing\", \"rating\", \"features\"]\n      }\n    },\n    \"search_summary\": {\n      \"type\": \"string\",\n      \"description\": \"Brief summary of the search performed\"\n    }\n  },\n  \"required\": [\"vendors\", \"search_summary\"]\n}"
      },
      "id": "e4de5d47-c224-45be-ba25-f4e55e251c5d",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -784,
        192
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "jsCode": "try {\n  const aiOutput = items[0].json.output;\n\n  // Validate output structure\n  if (!aiOutput || !Array.isArray(aiOutput.vendors)) {\n    throw new Error('Invalid AI response: missing vendors array');\n  }\n\n  // Validate and clean each vendor\n  const validatedVendors = [];\n  for (const vendor of aiOutput.vendors) {\n    if (!vendor.id || !vendor.name || !vendor.website) {\n      console.log('Skipping vendor with missing required fields:', vendor.name || 'unknown');\n      continue;\n    }\n\n    // Ensure features is an array\n    if (!Array.isArray(vendor.features)) {\n      vendor.features = [];\n    }\n\n    // Validate and clamp rating\n    if (typeof vendor.rating !== 'number' || vendor.rating < 1 || vendor.rating > 5) {\n      vendor.rating = 3;\n    }\n\n    // Ensure description exists\n    if (!vendor.description) {\n      vendor.description = '';\n    }\n\n    // Ensure pricing exists\n    if (!vendor.pricing) {\n      vendor.pricing = 'Contact for pricing';\n    }\n\n    // Initialize empty criteriaScores (will be populated in deep research stage)\n    vendor.criteriaScores = {};\n\n    validatedVendors.push(vendor);\n  }\n\n  if (validatedVendors.length === 0) {\n    throw new Error('No valid vendors found in search results');\n  }\n\n  return [{\n    json: {\n      success: true,\n      vendors: validatedVendors,\n      search_summary: aiOutput.search_summary || `Found ${validatedVendors.length} vendors`\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      success: false,\n      vendors: [],\n      error: {\n        code: 'AI_PROCESSING_ERROR',\n        message: `Vendor search failed: ${error.message}`\n      }\n    }\n  }];\n}"
      },
      "id": "94964b81-ef37-49a8-8c29-788997bdc5b0",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "position": [
        -640,
        -144
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "operator": {
                "type": "boolean",
                "operation": "false"
              },
              "leftValue": "={{ $json.success }}",
              "rightValue": false
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fbf93b46-7b44-45bf-ae42-b4a45f2a2a2a",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "position": [
        -432,
        -144
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "http://localhost:8080"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "36486143-776d-41ab-beb1-059c28f8be28",
      "name": "Return Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -192,
        -160
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "jsCode": "// Check if we already have a formatted error from Format Success Response\nif (items[0].json.error && items[0].json.error.code) {\n  return [{\n    json: {\n      success: false,\n      vendors: [],\n      error: items[0].json.error\n    }\n  }];\n}\n\n// Otherwise, handle raw errors\nconst errorMessage = items[0].json.error?.message || items[0].json.message || 'An unexpected error occurred during vendor search';\n\nreturn [{\n  json: {\n    success: false,\n    vendors: [],\n    error: {\n      code: 'INTERNAL_ERROR',\n      message: errorMessage\n    }\n  }\n}];"
      },
      "id": "dee6e977-0f88-4ad5-b8f6-a2f296daacdf",
      "name": "Handle Processing Error",
      "type": "n8n-nodes-base.code",
      "position": [
        -192,
        64
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "http://localhost:8080"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "4dedc793-3092-48f2-b80d-470bfba1df98",
      "name": "Return Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        32,
        64
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        -912,
        208
      ],
      "id": "bdec9e4f-7420-4eba-a7d1-b5461d106d11",
      "name": "Message a model in Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "r8zUmq6Bxb6qMTW3",
          "name": "Perplexity account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Input Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Validation": {
      "main": [
        [
          {
            "node": "Check Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation": {
      "main": [
        [
          {
            "node": "Return Validation Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Vendor Discovery Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Vendor Discovery Agent": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Processing Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Vendor Discovery Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Vendor Discovery Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Handle Processing Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Processing Error": {
      "main": [
        [
          {
            "node": "Return Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "AI Vendor Discovery Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "cdaf4d24-ab14-44d5-bb9b-3eadb7658994",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d8d0f3a1b5452865880018369d00dbc23f6a859a8ab8f3d9720659ce3799163c"
  },
  "id": "K9vqS9IwoESwYOrR",
  "tags": []
}