00_IMPLEMENTATION/MIGRATING_TO_N8N/TEMPLATE_MANAGER_WORKFLOWS/TEMPLATES_APPROACH_3/Clarioo_Template_Manager_PRODUCTION_vF.json
{
  "name": "Clarioo Template Manager - Upload JSON (SP_030) - PRODUCTION",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "templates",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://demo.clarioo.io"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "98b6b030-ead4-4b0f-b1dc-c31545ee37bb",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1504,
        608
      ],
      "webhookId": "templates",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Extract action from body (POST only)\nconst body = $input.item.json.body || {};\nconst action = body.action || 'list';\n\nreturn {\n  json: {\n    action: action,\n    body: body\n  }\n};"
      },
      "id": "55a13d28-6293-4255-ba65-309f647b5a39",
      "name": "Route Action",
      "type": "n8n-nodes-base.code",
      "position": [
        -1264,
        608
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "list"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "upload_json",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "upload_json"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "get",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get"
            }
          ]
        },
        "options": {}
      },
      "id": "17b50af3-133d-4077-bea1-e93fa0d51243",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "position": [
        -1024,
        608
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "NZWBMatTwyH1LvOd",
          "mode": "list",
          "cachedResultName": "clarioo_templates_v5",
          "cachedResultUrl": "/projects/91hVWc99MqH0rduN/datatables/NZWBMatTwyH1LvOd"
        },
        "returnAll": true
      },
      "id": "07af7923-6b08-41d9-9e33-933eb767e126",
      "name": "Get All Templates",
      "type": "n8n-nodes-base.dataTable",
      "position": [
        -784,
        192
      ],
      "typeVersion": 1,
      "notes": "Fetches all templates from Data Table (5-column schema). Update dataTableId after creating the table."
    },
    {
      "parameters": {
        "jsCode": "// Format templates for frontend consumption (SP_030 - 5 column schema)\n// Frontend extracts all fields from template_data_json\nconst allTemplates = $input.all();\n\nconst templates = allTemplates.map(item => {\n  const template = item.json;\n  \n  // Parse template_data_json if it's a string\n  let templateData = template.template_data_json;\n  if (typeof templateData === 'string') {\n    try {\n      templateData = JSON.parse(templateData);\n    } catch (e) {\n      console.error('Failed to parse template_data_json:', e);\n      templateData = null;\n    }\n  }\n  \n  return {\n    templateId: template.template_id,\n    templateName: template.template_name,\n    templateCategory: template.template_category || 'Uncategorized',\n    templateData: templateData, // Full JSONExportData object\n    uploadedAt: template.uploaded_at\n  };\n});\n\nreturn {\n  json: {\n    success: true,\n    templates: templates,\n    count: templates.length\n  }\n};"
      },
      "id": "1af99828-9683-410f-8834-517363ce0dab",
      "name": "Format List Response",
      "type": "n8n-nodes-base.code",
      "position": [
        -544,
        192
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://demo.clarioo.io"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "89296349-ac00-4879-bb2e-5180a7df3165",
      "name": "Return List",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -304,
        192
      ],
      "typeVersion": 1.4,
      "notes": "PRODUCTION: Returns template list with CORS headers"
    },
    {
      "parameters": {
        "jsCode": "// Extract template data from request body (SP_030 - 5 column schema)\nconst body = $input.item.json.body || {};\nconst template = body.template || {};\n\nif (!template.template_id) {\n  throw new Error('Missing required field: template_id');\n}\n\nif (!template.template_name) {\n  throw new Error('Missing required field: template_name');\n}\n\nif (!template.template_data_json) {\n  throw new Error('Missing required field: template_data_json');\n}\n\n// Stringify template_data_json if it's an object\nlet templateDataJson = template.template_data_json;\nif (typeof templateDataJson === 'object') {\n  templateDataJson = JSON.stringify(templateDataJson);\n}\n\n// Return template data ready for Data Table insert (5 fields only)\nreturn {\n  json: {\n    template_id: template.template_id,\n    template_name: template.template_name,\n    template_category: template.template_category || 'Uncategorized',\n    template_data_json: templateDataJson,\n    uploaded_at: template.uploaded_at || new Date().toISOString()\n  }\n};"
      },
      "id": "0db76426-0c95-4dbb-9d6a-ecb7dfdd0e45",
      "name": "Extract Template JSON",
      "type": "n8n-nodes-base.code",
      "position": [
        -784,
        560
      ],
      "typeVersion": 2,
      "notes": "Extracts and validates template data from upload_json request (SP_030 - simplified to 5 fields)"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "NZWBMatTwyH1LvOd",
          "mode": "list",
          "cachedResultName": "clarioo_templates_v5",
          "cachedResultUrl": "/projects/91hVWc99MqH0rduN/datatables/NZWBMatTwyH1LvOd"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "template_id",
              "displayName": "template_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "template_name",
              "displayName": "template_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "template_category",
              "displayName": "template_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "template_data_json",
              "displayName": "template_data_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "uploaded_at",
              "displayName": "uploaded_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5054d7de-bcde-457f-81d2-ce9c781d24ed",
      "name": "Insert Template",
      "type": "n8n-nodes-base.dataTable",
      "position": [
        -544,
        560
      ],
      "typeVersion": 1,
      "notes": "Inserts template into Data Table (SP_030 - 5 column schema). Update dataTableId after creating the table."
    },
    {
      "parameters": {
        "jsCode": "// Format upload success response\nconst template = $input.item.json;\n\nreturn {\n  json: {\n    success: true,\n    template_id: template.template_id,\n    message: 'Template uploaded successfully',\n    warnings: [] // Frontend can add warnings if needed\n  }\n};"
      },
      "id": "bfe80aa6-d829-4312-96a9-1977cf732acf",
      "name": "Format Upload Response",
      "type": "n8n-nodes-base.code",
      "position": [
        -304,
        560
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://demo.clarioo.io"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "bf9bba51-ff3f-40d5-9ee4-990bf6327c75",
      "name": "Return Upload",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -64,
        560
      ],
      "typeVersion": 1.4,
      "notes": "PRODUCTION: Returns upload success with CORS headers"
    },
    {
      "parameters": {
        "jsCode": "// Extract template_id from request body\nconst body = $input.item.json.body || {};\n\nif (!body.template_id) {\n  throw new Error('Missing required field: template_id');\n}\n\nreturn {\n  json: {\n    template_id: body.template_id,\n    user_id: body.user_id || 'unknown'\n  }\n};"
      },
      "id": "4cbabc9f-0088-4fc8-8050-78e4607e30c6",
      "name": "Extract Delete Params",
      "type": "n8n-nodes-base.code",
      "position": [
        -784,
        912
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "NZWBMatTwyH1LvOd",
          "mode": "list",
          "cachedResultName": "clarioo_templates_v5",
          "cachedResultUrl": "/projects/91hVWc99MqH0rduN/datatables/NZWBMatTwyH1LvOd"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "template_id",
              "keyValue": "={{ $json.template_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "57310750-0130-42b6-a136-ee99028edde6",
      "name": "Delete Template",
      "type": "n8n-nodes-base.dataTable",
      "position": [
        -544,
        912
      ],
      "typeVersion": 1,
      "notes": "Deletes template by template_id. Update dataTableId after creating the table."
    },
    {
      "parameters": {
        "jsCode": "// Format delete success response\nconst params = $node['Extract Delete Params'].json;\n\nreturn {\n  json: {\n    success: true,\n    template_id: params.template_id,\n    message: 'Template deleted successfully'\n  }\n};"
      },
      "id": "1da59c1f-6947-4fcf-ac69-b8630d7dfe65",
      "name": "Format Delete Response",
      "type": "n8n-nodes-base.code",
      "position": [
        -304,
        912
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://demo.clarioo.io"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "be7fc485-f0f6-490f-bd2b-e32334ace39f",
      "name": "Return Delete",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -64,
        912
      ],
      "typeVersion": 1.4,
      "notes": "PRODUCTION: Returns delete success with CORS headers"
    },
    {
      "parameters": {
        "jsCode": "// Extract template_id from request body (not query)\nconst body = $input.item.json.body || {};\n\nif (!body.template_id) {\n  throw new Error('Missing required field: template_id');\n}\n\nreturn {\n  json: {\n    template_id: body.template_id\n  }\n};"
      },
      "id": "e5ca48ca-517b-4097-b476-0bdd4a7ded7e",
      "name": "Extract Get Params",
      "type": "n8n-nodes-base.code",
      "position": [
        -784,
        1280
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "NZWBMatTwyH1LvOd",
          "mode": "list",
          "cachedResultName": "clarioo_templates_v5",
          "cachedResultUrl": "/projects/91hVWc99MqH0rduN/datatables/NZWBMatTwyH1LvOd"
        }
      },
      "id": "5682581c-d953-440b-a7bb-bfbc05312f5d",
      "name": "Get Single Template",
      "type": "n8n-nodes-base.dataTable",
      "position": [
        -544,
        1280
      ],
      "typeVersion": 1,
      "notes": "Fetches single template by ID (5-column schema). Update dataTableId after creating the table."
    },
    {
      "parameters": {
        "jsCode": "// Format single template response (SP_030 - 5 column schema)\nconst templates = $input.all();\n\nif (templates.length === 0) {\n  throw new Error('Template not found');\n}\n\nconst template = templates[0].json;\n\n// Parse template_data_json if it's a string\nlet templateData = template.template_data_json;\nif (typeof templateData === 'string') {\n  try {\n    templateData = JSON.parse(templateData);\n  } catch (e) {\n    console.error('Failed to parse template_data_json:', e);\n    templateData = null;\n  }\n}\n\nreturn {\n  json: {\n    success: true,\n    template: {\n      templateId: template.template_id,\n      templateName: template.template_name,\n      templateCategory: template.template_category || 'Uncategorized',\n      templateData: templateData, // Full JSONExportData object\n      uploadedAt: template.uploaded_at\n    }\n  }\n};"
      },
      "id": "c8c8ab5a-1260-43eb-a209-9760f606e7d3",
      "name": "Format Get Response",
      "type": "n8n-nodes-base.code",
      "position": [
        -304,
        1280
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://demo.clarioo.io"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "f634fd20-f77d-409c-abd4-7e4ea1ab7db2",
      "name": "Return Get",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -64,
        1280
      ],
      "typeVersion": 1.4,
      "notes": "PRODUCTION: Returns single template with CORS headers"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Get All Templates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Template JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Delete Params",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Get Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Templates": {
      "main": [
        [
          {
            "node": "Format List Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format List Response": {
      "main": [
        [
          {
            "node": "Return List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Template JSON": {
      "main": [
        [
          {
            "node": "Insert Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Template": {
      "main": [
        [
          {
            "node": "Format Upload Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Upload Response": {
      "main": [
        [
          {
            "node": "Return Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Delete Params": {
      "main": [
        [
          {
            "node": "Delete Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Template": {
      "main": [
        [
          {
            "node": "Format Delete Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Delete Response": {
      "main": [
        [
          {
            "node": "Return Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Get Params": {
      "main": [
        [
          {
            "node": "Get Single Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Single Template": {
      "main": [
        [
          {
            "node": "Format Get Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Get Response": {
      "main": [
        [
          {
            "node": "Return Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f5eea96a-b2c5-48e0-96ef-71e0861c90b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d8d0f3a1b5452865880018369d00dbc23f6a859a8ab8f3d9720659ce3799163c"
  },
  "id": "ulNIRT8rKXIELN7N",
  "tags": []
}